/* Report Navigation */
.button-disabled {
  font-size: .9em;
  font-weight: bolder;
  background-color: #4d4d4d;
  color: #fff;
  padding: .2em 1em;
  border: none;
  display: inline-block;
  -webkit-border-radius: .2em;
  border-radius: .2em;
}

.button {
  font-size: .9em;
  font-weight: bolder;
  background-color: #e6e6e6;
  color: #4d4d4d;
  cursor: pointer;
  padding: .2em 1em;
  border: none;
  display: inline-block;
  -webkit-border-radius: .2em;
  border-radius: .2em;
}

.button:hover {
  text-decoration: none;
}

/* Blue Buttons */
.blue.button {
  background-color: #333a76;
  color: #fff;
}
.blue.button:hover {
  background-color: #c6c3d9;
  color: #fff;
}

.blue.button:active {
  background-color: #e6e6e6;
  color: #fff;
}

/* Grey Buttons */
.grey.button {
  background-color: #4d4d4d;
  color: #fff;
}

.grey.button:hover {
  background-color: #e6e6e6;
  color: #4d4d4d;
}

/* Green Buttons */
.green.button {
  background-color: #449c4f;
  color: #fff;
}
.green.button:hover {
  background-color: #b0caa8;
  color: #fff;
}
.green.button:active {
  background-color: #b0caa8;
  color: #fff;
}

/* Report Grid */

.db-report-controls {
  width: 960px;
  margin: .5em auto;
}

.db-report-controls .no-data {
  text-align: center;
  margin-bottom: 1em;
}
.db-report-controls .controls {
  overflow: auto;
}
.db-report-controls .controls .class-filter {
  float: left;
}
.db-report-controls .controls .class-filter label,
.db-report-controls .controls .class-filter .class-selector {
  display: block;
}
.db-report-controls .controls .class-filter label {
  font-size: .8em;
  font-weight: bold;
}
.db-report-controls .controls .class-filter .class-mgmt-link {
  color: #333a76;
  margin-left: 1em;
}
.db-report-controls .controls .data-download {
  float: right;
  margin-top: 1em;
}
.db-report-grid {
  width: 960px;
  margin: 1em auto;
  border: 1px solid #4d4d4d;
}
.db-report-grid .grid-row {
  overflow: auto;
  border-bottom: 1px solid #4d4d4d;
}
.db-report-grid .grid-row:nth-child(2n+3) {
  background-color: #E3E2ED;
}
.db-report-grid .grid-row:last-child {
  border-bottom: 0px solid #4d4d4d;
}
.db-report-grid .grid-row.header {
  background-color: #4d4d4d;
  color: #fff;
  text-transform: uppercase;
}
.db-report-grid .grid-row .col {
  display: inline-block;
  padding: .25em .55em;
  vertical-align: middle;
}
.db-report-grid .grid-row .col-1 {
  width: 200px;
}
.db-report-grid .grid-row .col-2 {
  width: 170px;
}
.db-report-grid .grid-row .col-3 {
  width: 65px;
  text-align: center;
}
.db-report-grid .grid-row .col-4 {
  width: 65px;
  text-align: center;
}
.db-report-grid .grid-row .col-5 {
  width: 130px;
  text-align: center;
}
.db-report-grid .grid-row .col-6 {
  width: 200px;
  text-align: center;
}
.db-report-grid .grid-row .progress-bar-wrapper {
  text-align: left;
}
.db-report-grid .grid-row .progress-bar-wrapper .module-title {
  font-size: .9em;
  margin: 0;
  color: #000;
}
.db-report-grid .grid-row .progress-bar-wrapper .progress-bar {
  width: auto;
  height: auto;
  position: relative;
  padding-top: 10px;
}
.db-report-grid .grid-row .progress-bar-wrapper .progress-bar.in-progress {
  background: url(../images/progress-line.png) no-repeat right top;
}
.db-report-grid .grid-row .progress-bar-wrapper .progress-bar .progress-item {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #e6e6e6;
  border: 1px solid #4d4d4d;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.db-report-grid .grid-row .progress-bar-wrapper .progress-bar .progress-item.complete {
  background-color: #b0caa8;
  border-color: #449c4f;
}
.db-report-grid .grid-row .progress-bar-wrapper .progress-bar .progress-item.active {
  border-color: #ef904f;
  background-color: #f9ceae;
}
.drafting-board-report .no-data {
  margin: 1em auto;
  text-align: center;
  border-width: 0;
}
table.evidence {
  display: table;
  margin: 1em auto;
  border: 1px solid #4d4d4d;
  border-width: 0 1px 1px 0;
}
table.evidence tr td {
  font-size: 1em;
  padding: .4em .25em;
  width: 180px;
  text-align: center;
  border: 1px solid #4d4d4d;
  border-width: 1px 0 0 1px;
}
table.evidence thead tr td {
  background-color: #b0caa8;
  border-bottom: 0px;
}
table.evidence thead tr td:first-child {
  background-color: transparent;
  border: 0px;
}
.student-essay .header {
  color: #4d4d4d;
  font-size: .8em;
}
.student-essay .header strong.blue {
  color: #333a76;
}
.student-essay .header strong.green {
  color: #449c4f;
}
.tool-recap span.student-content,
.student-essay .content .student-content {
  font-weight: bolder;
  color: #333a76;
}
.student-essay .controls {
  text-align: left;
}
.student-essay .controls a {
  margin-right: 1em;
}
