/*----- reset CSS -----*/
@import url("css/reset.css");

/*----- common CSS -----*/
@import url("css/content.css");
@import url("css/evidence.css");
@import url("css/audio-player.css");
@import url("css/glossary.css");
@import url("css/pop-ups.css");
@import url("css/summation.css");
@import url("css/scaffolding.css");
@import url("css/end-of-module.css");
@import url("css/topic-selection.css");
@import url("css/final-screen.css");

/*----- modules CSS -----*/
@import url("css/issue-analyzer.css");
@import url("css/claim-creator.css");
@import url("css/paragraph-constructor.css");
@import url("css/critic-crusher.css");
@import url("css/conclusion-crafter.css");
@import url("css/introduction-introducer.css");

/*----- Utility/Code -----*/
.hidden {
	display: none;
}
.clickable {
	cursor: pointer;
}
.inherit {
	display: inherit;
	position: inherit;
	height: 100%;
	width: 100%;
}

/*----- Reset & Body -----*/
html, body {
	overflow: hidden;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
}
body {
	background: #1f2527;
	color: #000000;
	font-size: 18px;
	line-height: 26px;
	text-transform: none;
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p {
	font-family: inherit;
	font-size: inherit;
}
iframe {
	overflow: hidden;
	border: 0;
}

/*----- Body Stuff -----*/
.loadingAnimation {
	position: absolute;
	top: 220px;
	left: 370px;
	width: 200px;
	height: 200px;
	background: url(images/pencil.gif) 0px 0px no-repeat;
}
.dimmer65 {
	position: absolute;
	width: 940px;
	height: 705px;
	background: url(images/dimmer65.png) repeat;
}
.argumentation {
	position: absolute;
	width: 940px;
	height: 705px;
	top:0;
	left:0;
	overflow: hidden;
	background-attachment: fixed;
	background: url(images/bg_corkboard_wide.png) repeat-x 0px 0px;
	color: #1f2122;
}
input, textarea {
	color: #1f2122;
}

/*----- Title Screen -----*/
.titleScreen {
	position: absolute;
	width: 940px;
	height: 705px;
	cursor: default;
	font-family: 'Source Sans Pro', sans-serif;
	background: url(images/title_screen.png) no-repeat 0px 0px;
}
.titleScreen .login {
	position: absolute;
	top: 60%;
	left: 27%;
	padding: 45px 50px 50px 150px;
	width: 235px;
	height: 80px;
	overflow: hidden;
	cursor: default;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #f23b0a;
	font-size: 24px;
	background: url(images/title_login_bg.png) no-repeat 0px 0px;
}
.titleScreen .login p {
	position: relative;
	padding-bottom: 10px;
	color: #343c3e;
	text-align: left;
	font-size: 18px;
}
.titleScreen .login a {
	color: #449fcf;
	text-decoration: underline;
}
.titleScreen .footer {
	position: absolute;
	float: none;
	bottom: 20%;
	pointer-events: none;
}
.titleScreen .button {
	position: absolute;
	top: 375px;
	left: 257px;
	padding: 65px 112px 58px 112px;
	width: 200px;
	height: 52px;
	overflow: hidden;
	background: url(images/title_begin_bg.png) no-repeat 0px 0px;
}
.titleScreen .footer .wrap .content-footer .submit .submit-btn {
	width: 25%;
	padding: 1% 0;
}
.titleScreen .footer .wrap .content-footer .submit {
	pointer-events: auto;
}
.titleScreen .footer .wrap .content-footer .submit.hidden {
	display: none;
	pointer-events: none;
}

/*----- Award -----*/
.award {
	position: absolute;
	width: 740px;
	height: 480px;
	overflow: hidden;
}
.award .artwork {
	float: left;
	width: 740px;
	height: 420px;
	overflow: hidden;
	background: url(images/reward.png);
}
.award .submit {
	float: left;
	width: 200px;
	height: 52px;
	margin: 8px 270px 0px 270px;
	overflow: hidden;
}

/*-- Log Window --*/
.error-log-window {
	background-color:#0c2734;
	color:#eeeeee;
	position:absolute;
	width:100%;
	height:100%;
	top:-100%;
	z-index:1;
	-moz-user-select: -moz-text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}
