.audio-wrapper{
	width:80%;
}

/*----- Evidence Audio Player -----*/
.evidence-detail .audio-wrapper {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    float: left;
	width: 90%;
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 4%;
	text-align: center;
	overflow: hidden;
	background: #0b4361;
}
.evidence-detail .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 90%;
	height: auto;
	overflow: hidden;
	text-align: left;
}
.audio-wrapper .back-btn {
	position: relative;
	display:inline-block;
    width: 10%;
    height: auto;
    margin-right: 1%;
    background: #9ad0ed url('../images/rewind-btn.svg') no-repeat center center;
    background-size: 100%;
    overflow: hidden;
    text-indent: -9999em;
    border-radius: 0;
	cursor: pointer;
	pointer-events: auto;
    border: .15em solid #052130;
}
.audio-wrapper .back-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .audio-wrapper .back-btn {
	background: #9ad0ed url('../images/rewind-btn.png') no-repeat center center;
}
.audio-wrapper .play-pause-btn {
	position: relative;
	display:inline-block;
    width: 10%;
    height: auto;
    margin-right: 1%;
    background: #9ad0ed url('../images/play-btn.svg') no-repeat center center;
    background-size: 100%;
    overflow:hidden;
    text-indent: -9999em;
    border-radius: 0;
	cursor: pointer;
	pointer-events: auto;
    border: .15em solid #052130;
}
.audio-wrapper .play-pause-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .audio-wrapper .play-pause-btn {
	background: #9ad0ed url('../images/play-btn.png') no-repeat center center;
}
.audio-wrapper .play-pause-btn.pause {
    background: #ffa633 url('../images/pause-btn.svg') no-repeat center center;
    background-size: 100%;
}
.no-svg .audio-wrapper .play-pause-btn.pause {
	background: #ffa633 url('../images/pause-btn.png') no-repeat center center;
}
.audio-wrapper .back-btn:hover, .audio-wrapper .play-pause-btn:hover {
	background-color: #b6e3fb;
}
.audio-wrapper .play-pause-btn.pause:hover {
	background-color: #ffcb88;
}
.audio-wrapper .progress {
	position: relative;
	display:inline-block;
	width: 70%;
	height: 100%;
    background-color: #041b27;
	text-indent: -9999em;
    overflow:hidden;
    border-radius: 0;
	cursor: pointer;
	pointer-events: auto;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #052130;
}
.audio-wrapper .progress .progress-meter {
	position: relative;
	height:100%;
	top:0px;
	left:0px;
	background-color: #30b2ec;
}
.audio-wrapper .progress .progress-meter:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.audio-wrapper .progress .progress-meter:hover {
	background-color: #55cbff;
}
.audio-wrapper .progress.hidden {
	background-color: transparent;
	border-color: transparent;
}
.audio-wrapper .progress.hidden .progress-meter {
	background-color: transparent;
}
.audio-wrapper .progress.hidden .progress-meter:after {
	background-color: transparent;
}

/*----- Directions Audio Player -----*/
#step2 .page_title .audio-wrapper {
	position: absolute;
	top: 5px;
	right: 50px;
	width: 200px;
	height: 20px;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	overflow: hidden;
	color: #332614;
}
#step2 .page_title .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#step2 .page_title .audio-wrapper .audio .back-btn, #step2 .page_title .audio-wrapper .audio .play-pause-btn, #step2 .page_title .audio-wrapper .audio .progress {
	height: 80%;
}

/*----- Issue Analyzer: Newspaper Audio Player -----*/
#step1 .audio-wrapper {
	float: left;
	width: 610px;
	height: 54px;
	margin: 6px 65px 0px 65px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 14px;
	overflow: auto;
	color: #252729;
}
#step1 .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#step1 .audio-wrapper .audio .back-btn, #step1 .audio-wrapper .audio .play-pause-btn, #step1 .audio-wrapper .audio .progress {
	height: 60%;
}

/*----- Issue Analyzer: Story Chunks Audio Player -----*/
#step2 .notepaper .audio-wrapper {
	float: left;
	width: 740px;
	height: 60px;
	overflow: hidden;
}
#step2 .notepaper .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#step2 .notepaper .audio-wrapper .audio .back-btn, #step2 .notepaper .audio-wrapper .audio .play-pause-btn, #step2 .notepaper .audio-wrapper .audio .progress {
	height: 60%;
}
#step2 .notecard .audio-wrapper {
	float: left;
	width: 740px;
	height: 60px;
	overflow: hidden;
}
#step2 .notecard .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#step2 .notecard .audio-wrapper .audio .back-btn, #step2 .notecard .audio-wrapper .audio .play-pause-btn, #step2 .notecard .audio-wrapper .audio .progress {
	height: 60%;
}

/*----- Issue Analyzer: Choose a Side -----*/
#step3 #voting_options #or .audio-wrapper {
	float: left;
	width: 200px;
	height: 40px;
	margin: 20px 20px 0px 20px;
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
#step3 #voting_options #or .audio-wrapper .audio {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
#step3 #voting_options #or .audio-wrapper .audio .back-btn, #step3 #voting_options #or .audio-wrapper .audio .play-pause-btn, #step3 #voting_options #or .audio-wrapper .audio .progress {
	height: 60%;
}