/*----- General Layout -----*/
.critic-crusher {
	display: inherit;
	position: inherit;
	height: 100%;
	width: 100%;
}
.critic-crusher .panel-container {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.critic-crusher .panel-container .side-panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 96%;
	width: 32%;
	padding-right: 3%;
	background: transparent;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.critic-crusher .panel-container .paragraph-panel {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 61%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
	-moz-user-select: -moz-text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}
.critic-crusher .panel-container .paragraph-panel.edit {
	background-color: #e8c27a;
	border: .15em solid #bd9853;
	height: 95%;
	width: 60%;
	cursor: text;
	color: #511c0e;
}
.critic-crusher .panel-container .paragraph-panel.edit:hover {
	background-color: #f6d494;
	border: .15em solid #d2ac66;
}
.critic-crusher .panel-container .paragraph-panel.edit .student-content {
	color: #ce6b00;
	cursor: text;
}
.critic-crusher .panel-container .audio-wrapper {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 50%;
}
.critic-crusher .panel-container .paragraph-panel-full {
	position: absolute;
	top: 8%;
	height: 88%;
	width: 96%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.critic-crusher .panel-container .paragraph-panel-full .paragraph {
	cursor: text;
	height: 100%;
	width: 100%;
}
.critic-crusher .panel-container .paragraph-panel-full .paragraph .distinguishable-text {
	cursor: text;
	height: 100%;
	width: 100%;
}
.critic-crusher .panel-container .paragraph-panel .paragraph {
	display: block;
	position: relative;
	width: 93%;
	/*height: 96%;*/
	padding: 2%;
	color: #81311b;
	overflow: hidden;
}
.critic-crusher .panel-container .paragraph-panel .paragraph .transition-slot, .critic-crusher .panel-container .paragraph-panel .paragraph .student-content {
	z-index: 1;
	cursor: text;
}
.critic-crusher .panel-container .paragraph-panel .paragraph .transition-slot span, .critic-crusher .panel-container .paragraph-panel .paragraph .student-content span {
	z-index: 1;
	cursor: text;
}

/*----- Claim Jumbler -----*/
.critic-crusher .jumbler-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.critic-crusher .jumbler-wrap .question {
	display: table;
	position: absolute;
	top: 8%;
	left: 6%;
	height: 10%;
	width: 88%;
	border-radius: .15em;
	background: #0b4361;
	color: #9ad0ed;
}
.critic-crusher .jumbler-wrap .question p {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.critic-crusher .jumbler-wrap .sentence-wrap {
	position: absolute;
	top: 26%;
	left: 6%;
	height: 66%;
	width: 88%;
	overflow: hidden;
	background: #0b4361;
}
.critic-crusher .jumbler-wrap .sentence-wrap .previous-btn {
	position: absolute;
	top: 44%;
	left: 6%;
	width: 6%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed url('../images/back-btn.svg') no-repeat center center;
	background-size: 100%;
	cursor: pointer;
}
.no-svg .critic-crusher .jumbler-wrap .sentence-wrap .previous-btn {
	background: #9ad0ed url('../images/back-btn.png') no-repeat center center;
}
.critic-crusher .jumbler-wrap .sentence-wrap .previous-btn:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .previous-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.critic-crusher .jumbler-wrap .sentence-wrap .previous-btn:hover {
	background-color: #b6e3fb;
}
.critic-crusher .jumbler-wrap .sentence-wrap .next-btn {
	position: absolute;
	top: 44%;
	right: 6%;
	width: 6%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed url('../images/next-btn.svg') no-repeat center center;
	background-size: 100%;
	cursor: pointer;
}
.no-svg .critic-crusher .jumbler-wrap .sentence-wrap .next-btn {
	background: #9ad0ed url('../images/next-btn.png') no-repeat center center;
}
.critic-crusher .jumbler-wrap .sentence-wrap .next-btn:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .next-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.critic-crusher .jumbler-wrap .sentence-wrap .next-btn:hover {
	background-color: #b6e3fb;
}
.critic-crusher .jumbler-wrap .sentence-wrap .audio-wrapper {
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 10%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .audio-wrapper .audio {
	height: 80%;
	width: 100%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .audio-wrapper .audio .back-btn, .critic-crusher .jumbler-wrap .sentence-wrap .audio-wrapper .audio .play-pause-btn {
	height: 80%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .audio-wrapper .audio .progress {
	height: 94%;
}
.critic-crusher .jumbler-wrap .sentence-wrap .sentence {
	display: table;
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	overflow: hidden;
	border-radius: .15em;
	background: #f6d494;
	color: #81311b;
}
.critic-crusher .jumbler-wrap .sentence-wrap .sentence p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*----- Sentence Starter -----*/
.critic-crusher .paragraph-editor {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.critic-crusher .paragraph-editor .text-wrap {
	position: absolute;
	height: 96%;
	width: 98%;
	top: 2%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.critic-crusher .paragraph-editor .text {
	display: inherit;
	padding: 1%;
}
.critic-crusher .paragraph-editor .user-written {
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.critic-crusher .paragraph-editor .user-written:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}

/*----- Reason Selection -----*/
.critic-crusher .reason-selection {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.critic-crusher .reason-selection .instruction {
	position: relative;
	float:left;
	height: 4.5%;
	width: 98%;
	margin: .5% 1% 0 1%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.critic-crusher .reason-selection .reason-a, .critic-crusher .reason-selection .reason-b {
	position: absolute;
	top: 6%;
	height: 90%;
	width: 48%;
	color: #9ad0ed;
	cursor: pointer;
}
.critic-crusher .reason-selection .selected {
	cursor: default;
}
.critic-crusher .reason-selection .reason-a {
	left: 1%;
}
.critic-crusher .reason-selection .reason-b {
	right: 1%;
}
.critic-crusher .reason-selection .text {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 80%;
	width: 90%;
	padding: 0 5%;
	border-radius: .25em;
	background: #2b8fc5;
}
.critic-crusher .reason-selection .reason-a:hover .text, .critic-crusher .reason-selection .reason-b:hover .text {
	background: #3a9fd5;
}
.critic-crusher .reason-selection .selected .text, .critic-crusher .reason-selection .selected:hover .text {
	background: #2b8fc5;
	border: .15em solid #9ad0ed;
}
.critic-crusher .reason-selection .text p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.critic-crusher .reason-selection .label {
	display: table;
	position: absolute;
	top: 5%;
	right: 5%;
	height: 12%;
	width: 15%;
	border-radius: .25em;
	background: #14638e;
}
.critic-crusher .reason-selection .label p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.critic-crusher .reason-selection .label {
	color: #2b8fc5;
}
.critic-crusher .reason-selection .selected .label {
	color: #9ad0ed;
}
.critic-crusher .reason-selection .checkbox-art {
	position: absolute;
	bottom: 2%;
	left: 12%;
	height: 12%;
	width: 15%;
	border-radius: .25em;
	background: #0b4361 url('../images/check.svg') no-repeat center center;
	background-size: 100%;
	color: #9ad0ed;
}
.critic-crusher .reason-selection .checkbox-label {
	display: table;
	position: absolute;
	bottom: 2%;
	right: 20%;
	height: 12%;
	width: 60%;
	border-radius: .25em;
	background: #0b4361;
	color: #9ad0ed;
}
.critic-crusher .reason-selection .reason-a:hover .checkbox-label, .critic-crusher .reason-selection .reason-b:hover .checkbox-label {
	background: #145477;
}
.critic-crusher .reason-selection .selected:hover .checkbox-label {
	background: #0b4361;
}
.critic-crusher .reason-selection .checkbox-label p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
}
.critic-crusher .reason-selection .checkbox-art {
	position: absolute;
	bottom: 4%;
	left: 23%;
	height: 6%;
	width: 7%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	background-size: 100%;
}
.no-svg .critic-crusher .reason-selection .checkbox-art {
	background: #9ad0ed;
}
.critic-crusher .reason-selection .checkbox-art:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.critic-crusher .reason-selection .checkbox-art:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.critic-crusher .reason-selection .reason-a:hover .checkbox-art, .critic-crusher .reason-selection .reason-b:hover .checkbox-art {
	background-color: #b6e3fb;
}
.critic-crusher .reason-selection .selected .checkbox-art, .critic-crusher .reason-selection .selected:hover .checkbox-art {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .critic-crusher .reason-selection .selected .checkbox-art, .no-svg .critic-crusher .reason-selection .selected:hover .checkbox-art {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.critic-crusher .reason-selection .selected .checkbox-art:after, .critic-crusher .reason-selection .selected:hover .checkbox-art:after {
	background-color: #5aa3ca;
}
.critic-crusher .reason-selection .audio-wrapper {
	position: absolute;
	bottom: 22%;
	left: 4%;
	width: 92%;
}

/*----- Sentence Completion -----*/
.critic-crusher .sentence-completion {
	position: relative;
	float:left;
	height: 62%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.critic-crusher .sentence-completion .text-wrap {
	position: absolute;
	height: 86%;
	width: 98%;
	top: 12%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.critic-crusher .sentence-completion .text {
	display: inherit;
	padding: 1%;
}
.critic-crusher .sentence-completion .audio-wrapper {
	top: 2%;
	position: absolute;
	left: 1%;
	width: 50%;
}
.critic-crusher .sentence-completion .user-written {
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.critic-crusher .sentence-completion .user-written:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}

/*----- Sentence Selection -----*/
.critic-crusher .sentence-selection {
	position: relative;
	float:left;
	height: 68%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.critic-crusher .sentence-selection .paragraph {
	position: absolute;
	height: 38%;
	width: 98%;
	top: 1%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.critic-crusher .sentence-selection .paragraph .text {
	display: inherit;
	padding: 1%;
}
.critic-crusher .sentence-selection .paragraph .text .user-written {
	color: #2b8fc5;
	background: #f8f0dc;
	padding: 0 1%;
}
.critic-crusher .sentence-selection .sentence-options {
	position: absolute;
	height: 58%;
	width: 98%;
	bottom: 1%;
	left: 1%;
	background: transparent;
	border-radius: .15em;
	overflow: hidden;
}
.critic-crusher .sentence-selection .sentence-options .option {
	position: relative;
	height: 30%;
	width: 100%;
	margin-bottom: 1%;
	background: #0b4361;
	border-radius: .15em;
	overflow: hidden;
	cursor: pointer;
}
.critic-crusher .sentence-selection .sentence-options .option .checkbox {
	position: absolute;
	top: 22%;
	left: 2%;
	width: 4%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
}
.critic-crusher .sentence-selection .sentence-options .option .checkbox:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.critic-crusher .sentence-selection .sentence-options .option .checkbox:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.critic-crusher .sentence-selection .sentence-options .option:hover {
	background: #145477;
}
.critic-crusher .sentence-selection .sentence-options .option.selected, .critic-crusher .sentence-selection .sentence-options .option.selected:hover {
	background: #0b4361;
	cursor: default;
}
.critic-crusher .sentence-selection .sentence-options .option:hover .checkbox {
	background-color: #b6e3fb;
}
.critic-crusher .sentence-selection .sentence-options .option.selected .checkbox, .critic-crusher .sentence-selection .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .critic-crusher .sentence-selection .sentence-options .option.selected .checkbox, .no-svg .critic-crusher .sentence-selection .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.critic-crusher .sentence-selection .sentence-options .option.selected .checkbox:after, .critic-crusher .reason-selection .selected:hover .checkbox-art:after {
	background-color: #5aa3ca;
}
.critic-crusher .sentence-selection .sentence-options .option .text {
	display: table;
	position: absolute;
	top: 0;
	left: 12%;
	width: 86%;
	height: 100%;
	overflow: hidden;
	color: #9ad0ed;
}
.critic-crusher .sentence-selection .sentence-options .option .text p {
	display: table-cell;
	vertical-align: top;
}
.critic-crusher .sentence-selection .sentence-options .option.selected .text {
	color: #f8f0dc;
}
.critic-crusher .sentence-selection .sentence-options .option .audio-wrapper {
	position: absolute;
	bottom: 0;
	left: 12%;
	width: 50%;
}

/*----- Opening Sentence -----*/
.critic-crusher .opening-sentence {
	position: relative;
	float:left;
	height: 68%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.critic-crusher .opening-sentence .options {
	position: relative;
	float: left;
	top: 2%;
	height: 96%;
	width: 46%;
	margin: 0 2%;
}
.critic-crusher .opening-sentence .options .label {
	position: relative;
	float:left;
	height: 4.5%;
	width: 98%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.critic-crusher .opening-sentence .options .option {
	position: relative;
	float:left;
	height: 28%;
	width: 100%;
	margin-top: 4%;
	background: #0b4361;
	border-radius: .15em;
	cursor: pointer;
}
.critic-crusher .opening-sentence .options.left .option {
	color: #9ad0ed;
}
.critic-crusher .opening-sentence .options.right .option {
	background: #2b8fc5;
}
.critic-crusher .opening-sentence .options .option .checkbox {
	position: absolute;
	top: 28%;
	left: 4%;
	width: 14%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
}
.critic-crusher .opening-sentence .options .option .checkbox:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.critic-crusher .opening-sentence .options .option .checkbox:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.critic-crusher .opening-sentence .options.left .option:hover {
	background: #145477;
}
.critic-crusher .opening-sentence .options.right .option:hover {
	background: #3ca1d8;
}
.critic-crusher .opening-sentence .options.right .option.selected, .critic-crusher .opening-sentence .options.right .option.selected:hover {
	cursor: default;
	background: #2b8fc5;
}
.critic-crusher .opening-sentence .options.left .option.selected, .critic-crusher .opening-sentence .options.left .option.selected:hover {
	cursor: default;
	background: #0b4361;
}
.critic-crusher .opening-sentence .options .option:hover .checkbox {
	background-color: #b6e3fb;
}
.critic-crusher .opening-sentence .options .option.selected .checkbox, .critic-crusher .opening-sentence .options .option.selected:hover .checkbox {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .critic-crusher .opening-sentence .options .option.selected .checkbox, .no-svg .critic-crusher .opening-sentence .options .option.selected:hover .checkbox {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.critic-crusher .opening-sentence .options .option.selected .checkbox:after, .critic-crusher .opening-sentence .options .option.selected:hover .checkbox:after {
	background-color: #5aa3ca;
}
.critic-crusher .opening-sentence .options .option .text {
	display: table;
	position: absolute;
	top: 4%;
	left: 26%;
	height: 100%;
	width: 72%;
}
.critic-crusher .opening-sentence .options .option .text p {
	display: table-cell;
	vertical-align: top;
}
.critic-crusher .opening-sentence .options .option .audio-wrapper {
	position: absolute;
	bottom: 4%;
	right: 0;
	width: 75%;
}