/*----- Evidence Icons -----*/
.evidence-icon {
	background: transparent url('../images/pc-evidence-icon-blank.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type1 {
	background: transparent url('../images/e-document.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type2 {
	background: transparent url('../images/e-envelope.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type3 {
	background: transparent url('../images/e-conversation.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type4 {
	background: transparent url('../images/e-gavel.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type5 {
	background: transparent url('../images/e-quotation.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type6 {
	background: transparent url('../images/e-email.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type7 {
	background: transparent url('../images/e-article.svg') center center no-repeat;
	background-size: 100%;
}
.evidence-icon.type8 {
	background: transparent url('../images/e-graph.svg') center center no-repeat;
	background-size: 100%;
}

/*----- Evidence Icons IE8 -----*/
.no-svg .evidence-icon {
	background: url('../images/pc-evidence-icon-blank.png') center center no-repeat;
}
.no-svg .evidence-icon.type1 {
	background: url('../images/e-document.png') center center no-repeat;
}
.no-svg .evidence-icon.type2 {
	background: url('../images/e-envelope.png') center center no-repeat;
}
.no-svg .evidence-icon.type3 {
	background: url('../images/e-conversation.png') center center no-repeat;
}
.no-svg .evidence-icon.type4 {
	background: url('../images/e-gavel.png') center center no-repeat;
}
.no-svg .evidence-icon.type5 {
	background: url('../images/e-quotation.png') center center no-repeat;
}
.no-svg .evidence-icon.type6 {
	background: url('../images/e-email.png') center center no-repeat;
}
.no-svg .evidence-icon.type7 {
	background: url('../images/e-article.png') center center no-repeat;
}
.no-svg .evidence-icon.type8 {
	background: url('../images/e-graph.png') center center no-repeat;
}

/*----- Evidence Container -----*/
.evidence-container {
	position: absolute;
    width: 35%;
	height: 100%;
	right: 0;
	top: 0;
	background: #0b4361;
	overflow: hidden;
	border-left: .15em solid #052130;
}
.evidence-header {
	position: absolute;
    width: 100%;
	height: 6%;
	left: 0;
	top: 2%;
	background: #14638e;
	overflow: hidden;
	border-bottom: .15em solid #052130;
	z-index: 1;
}
.evidence-header .back-btn {
	position: absolute;
	display: block;
	top: 10%;
	left: 2%;
	width: 14%;
	/*height: 80%;*/
	text-indent: -9999em;
	background: #2b8fc5 url('../images/back-btn.svg') center no-repeat;
	background-size: 100%;
    border: .15em solid #0b4361;
    cursor: pointer;
	pointer-events: auto;
	line-height: 0;
}
.no-svg .evidence-header .back-btn {
	background: #2b8fc5 url('../images/back-btn.png') center no-repeat;
}
.evidence-header .back-btn img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.evidence-header .back-btn:before {
	display: block;
	content:'';
	padding-top: 65%;
	cursor: pointer;
	pointer-events: auto;
}
.evidence-header .back-btn:after {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.evidence-header .back-btn:hover {
	background-color: #3ea5dd;
}
.evidence-header .back-btn.disabled, .no-svg .evidence-header .back-btn.disabled {
	display: none;
	text-indent: -9999em;
	background: transparent;
	border: none;
	cursor: auto;
}
.evidence-header .back-btn.disabled:hover {
	display: none;
	text-indent: -9999em;
	background: transparent;
	border: none;
}
.evidence-header .back-btn.disabled:before {
	display: none;
	background: transparent;
}
.evidence-header .back-btn.disabled:after {
	background: transparent;
}
.evidence-header .title {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.evidence-header .title p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 90%;
	text-transform: uppercase;
	color: #f8f0dc;
	font-weight: 600;
}
.evidence-list {
	position: absolute;
    width: 100%;
	height: 82%;
	left: 0;
	top: 8%;
	background: #0b4361;
	overflow: hidden;
}
.evidence-footer {
	position: absolute;
    width: 100%;
	height: 10%;
	left: 0;
	bottom: 0%;
	background: #14638e;
	overflow: hidden;
	border-top: .15em solid #052130;
}
.evidence-footer .progress-btn {
	display: inherit;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
}
.evidence-footer .progress-btn .submit {
	position: relative;
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}
.evidence-footer .progress-btn .submit .submit-btn {
	position: relative;
	padding-bottom: 2.5%;
	padding-top: 2.2%;
	width: 70%;
	top: 15%;
	margin: 0 auto;
	cursor: pointer;
	background: #9ad0ed;
	color: #052130;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #052130;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.no-svg .evidence-footer .progress-btn .submit .submit-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.evidence-footer .progress-btn .submit .submit-btn:hover {
	background-color: #b6e3fb;
}
.evidence-footer .progress-btn .submit .submit-btn p {
	height: 100%;
	vertical-align: middle;
}
.evidence-footer .progress-btn.disabled .submit .submit-btn {
	background: #b9c5cb;
	color: #869095;
	cursor: default;
}

/*----- Evidence Items -----*/
.evidence-item-wrapper{
 	padding-left: 2%;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.evidence-item-wrapper .evidence-item {
    position: relative;
    float: left;
	width: 92%;
	height: auto;
	margin-top: 2%;
}
.evidence-item-wrapper .evidence-item:before {
	content:"";
	display: block;
	padding-top: 22%;
}
.evidence-item-wrapper .evidence-item.used .evidence-item-inner {
	background-color: #14638e;
}
.evidence-item-wrapper .evidence-item.used .evidence-item-inner:hover {
	background-color: #1d74a3;
}
.evidence-item-wrapper .evidence-item.used .evidence-item-inner .text p.title {
    color: #9ad0ed;
}
.evidence-item-wrapper .evidence-item.used .evidence-item-inner .text p.summary {
    color: #9ad0ed;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background: #2b8fc5;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #052130;
    cursor: pointer;
}
.no-svg .evidence-item-wrapper .evidence-item .evidence-item-inner:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.evidence-item-wrapper .evidence-item .evidence-item-inner:hover {
    background-color: #3ea5dd;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .evidence-icon {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	background-size: 65%;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .evidence-icon img {
	display: none;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .text {
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	overflow: hidden;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .text p {
    position: absolute;
	left: 0;
    width: 100%;
	height: auto;
	overflow: hidden;
	text-align: left;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .text p.title {
	bottom: 51%;
    color: #f8f0dc;
	font-weight: bold;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .text p.summary {
    top: 51%;
    color: #0b4361;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .evidence-arrow {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	background: url('../images/evidence-item-arrow.svg') no-repeat center center;
	background-size: 100%;
}
.no-svg .evidence-item-wrapper .evidence-item .evidence-item-inner .evidence-arrow {
	background: url('../images/evidence-item-arrow.png') no-repeat center center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/evidence-item-arrow.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/evidence-item-arrow.png',
	sizingMethod='scale')";
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .link {
    display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.evidence-item-wrapper .evidence-item .evidence-item-inner .link a {
    display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.evidence-item-wrapper .evidence-item-content {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
}
.evidence-item-wrapper .evidence-item-content:after {
	display: block;
	content:'';
}

/*----- Evidence Detail -----*/
.evidence-detail-wrap {
	display: table;
	table-layout:fixed;
    float: left;
	width: 100%;
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	background: #0b4361;
}
.evidence-detail {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.evidence-detail:after {
	display: block;
	content:''
}
.evidence-detail .audio-wrapper {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    float: left;
	width: 90%;
	height: auto;
	margin-left: 4%;
	padding-bottom: 1%;
	overflow: hidden;052130
}
.evidence-detail .audio-wrapper .audio {
	width: 100%;
	height: 100%;
}
.evidence-detail .audio-wrapper .audio .back-btn, .evidence-detail .audio-wrapper .audio .play-pause-btn, .evidence-detail .audio-wrapper .audio .progress {
	border-color: #052130;
}
.evidence-detail .image {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    float: left;
	width: 90%;
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 4%;
	text-align: center;
	overflow: hidden;
}
.evidence-detail .image img {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.evidence-detail .title {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    float: left;
	width: 90%;
	margin-left: 4%;
	height: auto;
	padding-bottom: 1%;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #f8f0dc;
	overflow: hidden;
	border-bottom: .15em solid #81b9d8;
}
.evidence-detail .evidence-detail-content {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    float: left;
	width: 90%;
	margin-left: 4%;
	margin-top: 2%;
	height: auto;
	text-align: left;
	overflow-x: hidden;
	color: #81b9d8;
}
.evidence-detail .evidence-detail-content .choice {
	background: #9ad0ed;
	color: #052130;
	border-radius: .25em;
	padding: 0 1%;
	margin: 0 1%;
	border: .15em solid #052130;
	border-top: .15em solid #f8f0dc;
}
.evidence-detail .evidence-detail-content .choice:nth-child(even) {
	background: #9aa4ed;
}
.evidence-detail .evidence-detail-content .choice:nth-child(even):hover {
	background-color: #bac2fc;
}
.evidence-detail .evidence-detail-content .choice:nth-child(odd) {
	background: #9ad0ed;
}
.evidence-detail .evidence-detail-content .choice:hover {
	background-color: #b6e3fb;
}
.evidence-detail .evidence-detail-content .choice a {
	color: #912438;
	text-decoration: underline;
}
.evidence-detail .evidence-detail-content strong {
	font-weight: bold;
	text-transform: uppercase;
}
.evidence-detail .evidence-detail-content ul, .evidence-detail .evidence-detail-content ol {
	list-style-position: inside;
}
.evidence-detail .evidence-detail-content ul, .evidence-detail .evidence-detail-content ol, .evidence-detail .evidence-detail-content p, .evidence-detail .evidence-detail-content table {
	padding-bottom: 4%;
}
.evidence-detail .evidence-detail-content table {
	border-collapse: collapse;
	table-layout:fixed;
	width:100%;
}
.evidence-detail .evidence-detail-content th, .evidence-detail .evidence-detail-content td {
	padding: 1%;
	border: .2em solid black;
	overflow: hidden;
}
.evidence-detail .evidence-detail-content a {
	color: #ff9fb1;
	cursor:pointer;
	text-decoration: underline;
}