/*----- Setup (dimmers, etc) -----*/
.dimmer-65-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/dimmer65.png') repeat;
}

/*----- Pop-up: Confirmation -----*/
.popup-confirmation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: default;
	overflow: hidden;
	text-align: center;
}
.popup-confirmation .confirmation-wrap {
	position: relative;
	width: 75%;
	height: 100%;
	overflow: hidden;
	text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
}
.popup-confirmation .confirmation-wrap .confirmation-content {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height: 40%;
	background: #14638e;
	border-radius: .25em;
	overflow: hidden;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #052130;
}
.popup-confirmation .confirmation-wrap .confirmation-content .title {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 67%;
	padding-top: 1%;
	text-transform: uppercase;
	font-weight: bold;
	color: #f6d494;
}
.popup-confirmation .confirmation-wrap .confirmation-content .audio-wrapper {
	position: absolute;
	top: 2%;
	right: 2%;
	width: 25%;
	height: 10%;
	overflow: hidden;
}
.popup-confirmation .confirmation-wrap .confirmation-content .audio-wrapper .audio {
	position: absolute;
	height: 90%;
	width: 100%;
	text-align: center;
}
.popup-confirmation .confirmation-wrap .confirmation-content .audio-wrapper .audio .back-btn, .popup-confirmation .confirmation-wrap .confirmation-content .audio-wrapper .audio .play-pause-btn {
	position: relative;
	float: left;
	width: 19%;
    height: 84%;
    margin-right: 2%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .audio-wrapper .audio .progress {
	position: relative;
	float: right;
	width: 48%;
	height: 100%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text {
	position: absolute;
	top: 14%;
	left: 2%;
	width: 96%;
	height: 66%;
	background: #f6d494;
	border-radius: .15em;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text p {
	position: relative;
	height: auto;
	width: 96%;
	margin-top: 1%;
	left: 2%;
	font-weight: normal;
	color: #81311b;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text p.reason {
	top: 3%;
	max-height: 46%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text p.evidence {
	top: 51%;
	max-height: 46%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text strong {
	font-weight: bold;
	text-transform: uppercase;
}
.popup-confirmation .confirmation-wrap .confirmation-content .text ul, .popup-confirmation .confirmation-wrap .confirmation-content .text ol {
	position: relative;
	height: auto;
	width: 96%;
	margin-top: 1%;
	left: 2%;
	font-weight: normal;
	color: #81311b;
	list-style-position:inside;
}
.popup-confirmation .confirmation-wrap .confirmation-content .cancel, .popup-confirmation .confirmation-wrap .confirmation-content .confirm {
	position: absolute;
	bottom: 2%;
	width: 47%;
	padding: 0;
	background: #9ad0ed;
	color: #052130;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #052130;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}
.popup-confirmation.single-option .confirmation-wrap .confirmation-content .cancel, .popup-confirmation.single-option .confirmation-wrap .confirmation-content .confirm {
	left: 25%;
	padding-bottom: 0;
	padding-top: 0;
}
.popup-confirmation .confirmation-wrap .confirmation-content .cancel {
	left: 2%;
	color: #f8f0dc;
	background: #d55c3b;
	box-shadow: inset 0 .15em 0 #f8f0dc;
}
.popup-confirmation .confirmation-wrap .confirmation-content .confirm {
	right: 2%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .confirm:hover {
	background-color: #b6e3fb;
}
.popup-confirmation .confirmation-wrap .confirmation-content .cancel:hover {
	background-color: #f68e8e;
}
.popup-confirmation .confirmation-wrap .confirmation-content .confirm p, .popup-confirmation .confirmation-wrap .confirmation-content .cancel p {
	height: 100%;
	vertical-align: middle;
}
.popup-confirmation .confirmation-wrap .confirmation-content .confirm .submit-btn, .popup-confirmation .confirmation-wrap .confirmation-content .cancel .submit-btn {
	padding-bottom: 4%;
	padding-top: 4%;
}
.popup-confirmation .confirmation-wrap .confirmation-content .btn_disabled {
	background: #b9c5cb;
	color: #869095;
	cursor: default;
}