html, body {
	overflow: hidden;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
}
body {
	background: #1f2527;
	color: #000000;
	font-size: 18px;
	line-height: 26px;
	text-transform: none;
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p {
	font-family: inherit;
	font-size: inherit;
}
iframe {
	overflow: hidden;
	border: 0;
}