
/*----- Scaffolding Selection -----*/
.scaffolding-selection {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.scaffolding-selection.full {
	position: relative;
	height: 100%;
	width: 64%;
	margin: 0 auto;
}
.scaffolding-selection .scaffolding-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
}
.scaffolding-selection .scaffolding-wrap .title {
	position: relative;
	width: 100%;
	height: 10%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: #f6d494;
}
.scaffolding-selection .scaffolding-wrap .options-wrap {
	position: relative;
	width: 100%;
	height: 90%;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option {
	position: relative;
	float: left;
	width: 46%;
	height: 24%;
	margin: 2%;
	background: #2b8fc5;
	border-radius: .25em;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option.selected {
	background: #f6d494;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .check {
	position: absolute;
	top: 34%;
	left: 5%;
	width: 15%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option.selected .check {
	cursor: default;
	background: #14638e url('../images/check.svg') no-repeat center center;
	background-size: 100%;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .check:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .check:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option.selected .check:after {
	background-color: #2b8fc5;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .check:hover {
	background-color: #b6e3fb;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option.selected .check:hover {
	background-color: #14638e;
}
.no-svg .scaffolding-selection .scaffolding-wrap .options-wrap .option.selected .check {
	background: #14638e url('../images/check.png') no-repeat center center;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .text {
	display: table;
	float: right;
	margin-right: 5%;
	width: 65%;
	height: 100%;
	overflow: hidden;
	color: #052130;
}
.scaffolding-selection .scaffolding-wrap .options-wrap .option .text p {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}