.summation .usertext-wrap .edit-btn.hidden {
	display: none;
}
.progress-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 94%;
	height: 100%;
	padding: 0 3%;
	background: url('../images/dimmer65.png') repeat;
}
.progress-popup .inherit {
	width: 95%;
}
.content-container .progress-popup .inherit .content-panel-full .wrap .content-main .summation {
	z-index: 3;
}
.summation {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.summation .modules-wrap {
	position: absolute;
	height: 10%;
	width: 96%;
	top: 2%;
	left: 2%;
	overflow: hidden;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
.summation .modules-wrap .stretch {
	display: inline-block;
	position: relative;
	width: 100%;
}
.summation .modules-wrap .module {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 15%;
	vertical-align: top;
	zoom: 1;
	overflow: hidden;
	border-radius: .25em;
	background: #2b8fc5;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .2em solid #0b4361;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
	color: #052130;
}
.summation .modules-wrap .module p {
	padding: 8% 2%;
}
.summation .modules-wrap .selected, .summation .modules-wrap .complete {
	box-shadow: inset 0 .2em 0 #f8f0dc;
}
.no-svg .summation .modules-wrap .selected:after, .no-svg .summation .modules-wrap .complete:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.summation .modules-wrap .complete {
	background: #9ad0ed;
	cursor: pointer;
}
.summation .modules-wrap .complete:hover {
	background: #b6e3fb;
}
.summation .modules-wrap .selected, .summation .modules-wrap .selected:hover {
	background: #77b8db;
	box-shadow: inset 0 .2em 0 #5aa3ca;
	cursor: default;
}
.no-svg .summation .modules-wrap .selected:after, .no-svg .summation .modules-wrap .selected:hover:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #5aa3ca;
	content:'';
}
.summation .modules-wrap .status {
	position: absolute;
	height: 20%;
	width: 80%;
	bottom: 10%;
	left: 10%;
	background: #0b4361;
	border-radius: .2em;
	overflow: hidden;
}
.summation .modules-wrap .complete .status {
	background: #f8f0dc;
}
.summation .outline-wrap {
	position: absolute;
	height: 84%;
	width: 47%;
	top: 14%;
	left: 2%;
	overflow: hidden;
}
.summation .usertext-wrap {
	position: absolute;
	height: 84%;
	width: 47%;
	top: 14%;
	right: 2%;
	overflow: hidden;
}
.summation .outline-wrap .outline, .summation .usertext-wrap .usertext {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0px;
	left: 0px;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.summation .outline-wrap .outline .outline-inner, .summation .usertext-wrap .usertext .usertext-inner {
	position: absolute;
	width: 94%;
	top: 1%;
	left: 2%;
	overflow: hidden;
}
.summation .outline-wrap .label, .summation .usertext-wrap .label {
	display: table;
	position: absolute;
	width: 100%;
	height: 8%;
	top: 92%;
	left: 0;
	background: #2b8fc5;
	border-radius: .15em;
	overflow: hidden;
}
.summation .outline-wrap .label .inner, .summation .usertext-wrap .label .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.summation .outline-wrap .label .inner p, .summation .usertext-wrap .label .inner p {
	text-transform: uppercase;
	font-weight: bold;
	color: #f8f0dc;
	letter-spacing: .1em;
	text-align: center;
	width: 100%;
}
.summation .usertext-wrap .edit-btn {
	display: table;
	position: absolute;
	width: 30%;
	height: 6%;
	bottom: 1%;
	right: 1.5%;
	overflow: hidden;
	box-shadow: inset 0 .2em 0 #f8f0dc;
	border-radius: .15em;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .2em solid #0b4361;
	background: #9ad0ed;
	cursor: pointer;
}
.no-svg .summation .usertext-wrap .edit-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.summation .usertext-wrap .edit-btn:hover {
	background: #b6e3fb;
}
.summation .usertext-wrap .edit-btn p {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
	color: #052130;
}
.progress-popup .footer .wrap .content-footer .submit .submit-btn {
	background: #d55c3b;
	color: #f8f0dc;
}
.progress-popup .footer .wrap .content-footer .submit .submit-btn:hover {
	background: #f68e8e;
	color: #f8f0dc;
}