
/*----- Scaffolding Selection -----*/
.topic-selection {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.topic-selection.full {
	position: relative;
	height: 100%;
	width: 64%;
	margin: 0 auto;
}
.topic-selection .topic-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.topic-selection .topic-wrap .title {
	position: absolute;
	width: 100%;
	top: 2%;
	left: 0;
	height: 6%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: #f6d494;
}
.topic-selection .topic-wrap .options-wrap {
	position: absolute;
	top: 8%;
	left: 0;
	width: 100%;
	height: 90%;
}
.topic-selection .topic-wrap .options-wrap .option {
	position: relative;
	float: left;
	width: 28%;
	height: 24%;
	margin: 2%;
	background: #2b8fc5;
	border-radius: .25em;
}
.topic-selection .topic-wrap .options-wrap .option.selected {
	background: #f6d494;
}
.topic-selection .topic-wrap .options-wrap .option .check {
	position: absolute;
	top: 38%;
	left: 5%;
	width: 15%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.topic-selection .topic-wrap .options-wrap .option.selected .check {
	cursor: default;
	background: #14638e url('../images/check.svg') no-repeat center center;
	background-size: 100%;
}
.topic-selection .topic-wrap .options-wrap .option .check:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.topic-selection .topic-wrap .options-wrap .option .check:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.topic-selection .topic-wrap .options-wrap .option.selected .check:after {
	background-color: #2b8fc5;
}
.topic-selection .topic-wrap .options-wrap .option .check:hover {
	background-color: #b6e3fb;
}
.topic-selection .topic-wrap .options-wrap .option.selected .check:hover {
	background-color: #14638e;
}
.no-svg .topic-selection .topic-wrap .options-wrap .option.selected .check {
	background: #14638e url('../images/check.png') no-repeat center center;
}
.topic-selection .topic-wrap .options-wrap .option .unit-name {
	position: absolute;
	bottom: 50%;
	right: 5%;
	width: 65%;
	max-height: 50%;
	overflow: hidden;
	color: #052130;
}
.topic-selection .topic-wrap .options-wrap .option .unit-name p {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.topic-selection .topic-wrap .options-wrap .option .topic-title {
	position: absolute;
	top: 50%;
	right: 5%;
	width: 65%;
	max-height: 50%;
	overflow: hidden;
	color: #052130;
}
.topic-selection .topic-wrap .options-wrap .option .topic-title p {
	text-transform: none;
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
}