/*----- General Layout -----*/
.claim-creator {
	display: inherit;
	position: inherit;
	height: 100%;
	width: 100%;
}

/*----- Vote Results -----*/
.claim-creator .vote-results {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.claim-creator .vote-results .title {
	position: absolute;
	height: 4%;
	width: 96%;
	top: 2%;
	left: 2%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}
.claim-creator .vote-results .left, .claim-creator .vote-results .right {
	position: absolute;
	height: 90%;
	width: 47%;
	top: 8%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.claim-creator .vote-results .left {
	left: 2%;
}
.claim-creator .vote-results .right {
	right: 2%;
}
.claim-creator .vote-results .graph-wrap {
	position: absolute;
	top: 4%;
	left: 25%;
	height: 46%;
	width: 50%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #0b4361;
	background-size: auto 100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .5em solid #0b4361;
    border-radius: .35em;
    overflow: hidden;
}
.claim-creator .vote-results .graph-wrap .graph {
	position: absolute;
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #3ab0e5;
}
.claim-creator .vote-results .text {
	position: absolute;
	bottom: 4%;
	left: 2%;
	height: 42%;
	width: 96%;
}
.claim-creator .vote-results .text .percentage {
	position: relative;
	height: 40%;
	width: 100%;
	font-weight: bold;
	overflow: hidden;
	color: #14638e;
	text-align: center;
}
.claim-creator .vote-results .text .percentage .wrap {
	position: relative;
	width: auto;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
}
.claim-creator .vote-results .text .percentage .wrap p {
	position: relative;
	float: left;
	width: auto;
	height: 100%;
	font-weight: bold;
	overflow: hidden;
}
.claim-creator .vote-results .text .decision {
	position: relative;
	height: 10%;
	width: 100%;
	overflow: hidden;
	color: #14638e;
	/*color: #81311b;*/
	text-transform: uppercase;
	text-align: center;
}
.claim-creator .vote-results .text .question {
	position: relative;
	/*height: 50%;*/
	width: 90%;
	left: 5%;
	padding-top: 3%;
	overflow: hidden;
	text-align: center;
	color: #2b8fc5;
	box-shadow: inset 0 .15em 0 #2b8fc5;
}
.no-svg .claim-creator .vote-results .text .question:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #2b8fc5;
	content:'';
}

/*----- Justify your Best Reason -----*/
.claim-creator .paragraph-editor {
	position: relative;
	float:left;
	height: 62%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.claim-creator .paragraph-editor .text-wrap {
	position: absolute;
	height: 96%;
	width: 98%;
	top: 2%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.claim-creator .paragraph-editor .text {
	display: inherit;
	padding: 1%;
}
.claim-creator .paragraph-editor .user-written {
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.claim-creator .paragraph-editor .user-written:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}

/*----- Pinning Reasons -----*/
.claim-creator .four-reasons-wrap {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.claim-creator .four-reasons-wrap p.instruction {
	position: relative;
	float:left;
	height: 4.5%;
	width: 98%;
	margin: .5% 1% 0 1%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.claim-creator .four-reasons-wrap .reason {
	position: relative;
	float:left;
	height: 22%;
	width: 98%;
	margin: .45% 1%;
	background: #f6d494;
	border-radius: .15em;
}
.claim-creator .four-reasons-wrap .reason p.text {
	position: absolute;
	top: 15%;
	right: 1%;
	height: 50%;
	width: 74%;
	color: #81311b;
}
.claim-creator .four-reasons-wrap .reason .audio-wrapper {
	position: absolute;
	bottom: 15%;
	right: 1%;
	height: 18%;
	width: 74%;
	color: #81311b;
}
.claim-creator .four-reasons-wrap .reason .buttons {
	position: absolute;
	height: 70%;
	width: 25%;
	top: 15%;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.claim-creator .four-reasons-wrap .reason .buttons .like {
	position: absolute;
	height: 100%;
	width: 42%;
	left: 4%;
	cursor: pointer;
	background: #9ad0ed url('../images/thumbs-up.svg') center no-repeat;
	background-size: 100%;
	text-indent: -9999em;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #0b4361;
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .like:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .like {
	background: #9ad0ed url('../images/thumbs-up.png') center no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/thumbs-up.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/thumbs-up.png',
	sizingMethod='scale')";
}
.claim-creator .four-reasons-wrap .reason .buttons .favorite {
	position: absolute;
	height: 100%;
	width: 42%;
	left: 50%;
	cursor: pointer;
	background: #9ad0ed url('../images/star.svg') center no-repeat;
	background-size: 100%;
	text-indent: -9999em;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #0b4361;
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .favorite:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .favorite {
	background: #9ad0ed url('../images/star.png') center no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/star.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/star.png',
	sizingMethod='scale')";
}
.claim-creator .four-reasons-wrap .reason .buttons .like:hover {
	background-color: #b6e3fb;
}
.claim-creator .four-reasons-wrap .reason .buttons .favorite:hover {
	background-color: #b6e3fb;
}
.claim-creator .four-reasons-wrap .reason .buttons .favorite.selected {
	background: #77b8db url('../images/star2.svg') center no-repeat;
	background-size: 100%;
	cursor: pointer;
	box-shadow: inset 0 .15em 0 #5aa3ca;
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .favorite.selected:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #5aa3ca;
	content:'';
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .favorite.selected {
	background: #77b8db url('../images/star2.png') center no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/star2.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/star2.png',
	sizingMethod='scale')";
}
.claim-creator .four-reasons-wrap .reason .buttons .like.selected {
	background: #77b8db url('../images/thumbs-up2.svg') center no-repeat;
	background-size: 100%;
	cursor: pointer;
	box-shadow: inset 0 .15em 0 #5aa3ca;
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .like.selected:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #5aa3ca;
	content:'';
}
.no-svg .claim-creator .four-reasons-wrap .reason .buttons .like.selected {
	background: #77b8db url('../images/thumbs-up2.png') center no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/thumbs-up2.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/thumbs-up2.png',
	sizingMethod='scale')";
}
.claim-creator .four-reasons-wrap .reason .buttons .disabled {
	background: transparent;
	color: #AAA;
	cursor: default;
	box-shadow: none;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em dashed #ddb365;
}
.claim-creator .four-reasons-wrap .reason .buttons .like.selected:hover {
	background-color: #9ad0ed;
	cursor: pointer;
}
.claim-creator .four-reasons-wrap .reason .buttons .favorite.selected:hover {
	background-color: #9ad0ed;
	cursor: pointer;
}
.claim-creator .four-reasons-wrap .reason .buttons .disabled:hover {
	background: transparent;
}

/*----- Evidence Linker -----*/
.claim-creator .three-reasons-wrap {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.claim-creator .three-reasons-wrap p.instruction {
	position: relative;
	float:left;
	height: 4.5%;
	width: 98%;
	margin: .5% 1% 0 1%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.claim-creator .three-reasons-wrap .reason {
	position: relative;
	float:left;
	height: 30%;
	width: 98%;
	margin: .45% 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.claim-creator .three-reasons-wrap .reason .content-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.claim-creator .three-reasons-wrap .reason .content-wrap p.text {
	position: absolute;
	height: 70%;
	width: 96%;
	top: 5%;
	left: 2%;
	color: #81311b;
}
.claim-creator .three-reasons-wrap .reason .content-wrap .audio-wrapper {
	position: absolute;
	height: 20%;
	width: 96%;
	bottom: 5%;
	left: 2%;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap {
	position: relative;
	float:left;
	top: 5%;
	height: 88%;
	width: 50%;
	overflow: hidden;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item {
	position: relative;
	float:left;
	height: 100%;
	width: 46%;
	margin: 0 2%;
	
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .empty {
	cursor: default;
	background: transparent;
	box-shadow: none;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em dashed #2b8fc5;
	text-align: left;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .add {
	cursor: pointer;
	background: #9ad0ed url('../images/add-btn-bg.svg') center no-repeat;
	background-size: 100%;
	text-indent: -9999em;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #0b4361;
	text-align: left;
}
.no-svg .claim-creator .three-reasons-wrap .reason .evidence-wrap .add {
	background: #9ad0ed url('../images/add-btn-bg.png') center no-repeat;
}
.no-svg .claim-creator .three-reasons-wrap .reason .evidence-wrap .add:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .add:hover {
	background-color: #b6e3fb;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .incorrect{
	cursor: default;
	background: #d55c3b;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .15em solid #81311b;
	text-align: left;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .complete {
	cursor: default;
	background: #2b8fc5;
	box-shadow: inset 0 -.15em 0 #052130;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	text-align: left;
}
.no-svg .claim-creator .three-reasons-wrap .reason .evidence-wrap .complete:after {
	position: absolute;
	bottom: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #052130;
	content:'';
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item .icon {
	display: none;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item .text {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item .text .title {
	position: absolute;
	height: auto;
	max-height: 38%;
	width: 96%;
	bottom: 40%;
	left: 2%;
	color: #f8f0dc;
	overflow: hidden;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item .text .summary {
	position: absolute;
	height: auto;
	max-height: 38%;
	width: 96%;
	top: 62%;
	left: 2%;
	color: #052130;
	overflow: hidden;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .incorrect .text .summary {
	color: #81311b;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item button {
	position: absolute;
	top: 1%;
	right: 3%;
	width: 50%;
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
	background: #d55c3b;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .2em solid #81311b;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	color: #f8f0dc;
}
.no-svg .claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item button:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item button:hover {
	background: #f68e8e;
}
.claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item button.disabled {
	border: none;
	box-shadow: none;
	text-indent: -9999em;
	background: transparent;
}
.no-svg .claim-creator .three-reasons-wrap .reason .evidence-wrap .evidence-item button.disabled:after {
	display: none;
}


.evidence-mismatch {
	background:#f68e8e;
}