/*----- General Layout -----*/
.conclusion-crafter {
	display: inherit;
	position: inherit;
	height: 100%;
	width: 100%;
}
.conclusion-crafter .panel-container {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.conclusion-crafter .panel-container .side-panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 96%;
	width: 32%;
	padding-right: 3%;
	background: transparent;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.conclusion-crafter .panel-container .paragraph-panel {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 61%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .panel-container .paragraph-panel.edit {
	background-color: #e8c27a;
	border: .15em solid #bd9853;
	height: 95%;
	width: 60%;
	cursor: text;
	color: #511c0e;
}
.conclusion-crafter .panel-container .paragraph-panel.edit:hover {
	background-color: #f6d494;
	border: .15em solid #d2ac66;
}
.conclusion-crafter .panel-container .paragraph-panel.edit .student-content {
	color: #ce6b00;
}
.conclusion-crafter .panel-container .paragraph-panel-full {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 96%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .panel-container .paragraph-panel .paragraph {
	position: relative;
	width: 93%;
	/*height: 96%;*/
	padding: 2%;
	color: #81311b;
	overflow: hidden;
}

/*----- Sentence Selection Filler -----*/
.conclusion-crafter .sentence-selection-filler {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .sentence-selection-filler .sentence-options {
	position: absolute;
	height: 98%;
	width: 98%;
	bottom: 1%;
	left: 1%;
	background: transparent;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option {
	position: relative;
	height: 23.5%;
	width: 100%;
	margin-bottom: 1%;
	background: #0b4361;
	border-radius: .15em;
	overflow: hidden;
	cursor: pointer;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .checkbox {
	position: absolute;
	top: 22%;
	left: 2%;
	width: 6%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .checkbox:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .checkbox:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option:hover {
	background: #145477;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option.selected, .conclusion-crafter .sentence-selection-filler .sentence-options .option.selected:hover {
	background: #0b4361;
	cursor: default;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option:hover .checkbox {
	background-color: #b6e3fb;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .checkbox, .conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .checkbox, .no-svg .conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .checkbox:after, .critic-crusher .reason-selection .selected:hover .checkbox-art:after {
	background-color: #5aa3ca;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .text {
	display: table;
	position: absolute;
	top: 0;
	left: 12%;
	width: 86%;
	height: 80%;
	overflow: hidden;
	color: #9ad0ed;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .text p {
	display: table-cell;
	vertical-align: middle;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option.selected .text {
	color: #f8f0dc;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .text .user-written {
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #052130;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
	padding: 0 1%;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .text .user-written:hover {
	background-color: #e8c27a;
	border-color: #052130;
}
.conclusion-crafter .sentence-selection-filler .sentence-options .option .audio-wrapper {
	position: absolute;
	bottom: 0;
	left: 12%;
	width: 50%;
}

/*----- Restated Reason Selection -----*/
.conclusion-crafter .restated-reason-selection {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .restated-reason-selection .paragraph {
	position: absolute;
	height: 38%;
	width: 98%;
	top: 1%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .restated-reason-selection .paragraph .text {
	display: inherit;
	padding: 1%;
}
.conclusion-crafter .restated-reason-selection .paragraph .text .user-written {
	color: #2b8fc5;
	background: #f8f0dc;
	padding: .25% 1%;
}
.conclusion-crafter .restated-reason-selection .sentence-options {
	position: absolute;
	height: 58%;
	width: 98%;
	bottom: 1%;
	left: 1%;
	background: transparent;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option {
	position: relative;
	height: 22.5%;
	width: 100%;
	margin-bottom: 1%;
	background: #0b4361;
	border-radius: .15em;
	overflow: hidden;
	cursor: pointer;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .checkbox {
	position: absolute;
	top: 22%;
	left: 2%;
	width: 3%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .checkbox:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .checkbox:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .restated-reason-selection .sentence-options .option:hover {
	background: #145477;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option.selected, .conclusion-crafter .restated-reason-selection .sentence-options .option.selected:hover {
	background: #0b4361;
	cursor: default;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option:hover .checkbox {
	background-color: #b6e3fb;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option.selected .checkbox, .conclusion-crafter .restated-reason-selection .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .conclusion-crafter .restated-reason-selection .sentence-options .option.selected .checkbox, .no-svg .conclusion-crafter .restated-reason-selection .sentence-options .option.selected .checkbox:hover {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option.selected .checkbox:after, .critic-crusher .reason-selection .selected:hover .checkbox-art:after {
	background-color: #5aa3ca;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .text {
	display: table;
	position: absolute;
	top: 0;
	left: 12%;
	width: 86%;
	height: 100%;
	overflow: hidden;
	color: #9ad0ed;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .text p {
	display: table-cell;
	vertical-align: top;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option.selected .text {
	color: #f8f0dc;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .text .player-selected {
	color: #9ad0ed;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .text .user-written {
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #052130;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
	padding: 0 1%;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .text .user-written:hover {
	background-color: #e8c27a;
	border-color: #052130;
}
.conclusion-crafter .restated-reason-selection .sentence-options .option .audio-wrapper {
	position: absolute;
	bottom: 0;
	left: 12%;
	width: 50%;
}

/*----- Restated Reason Filler -----*/
.conclusion-crafter .restated-reason-filler {
	position: relative;
	float:left;
	height: 80%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .restated-reason-filler .paragraph {
	position: absolute;
	height: 98%;
	width: 98%;
	top: 1%;
	left: 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.conclusion-crafter .restated-reason-filler .paragraph .text {
	display: inherit;
	padding: 1%;
}
.conclusion-crafter .restated-reason-filler .paragraph .text .user-written {
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.conclusion-crafter .restated-reason-filler .paragraph .text .user-written:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}
/*----- Categorize -----*/
.conclusion-crafter .categorize {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .categorize .list {
	display: inherit;
	height: 100%;
	width: 100%;
}
.conclusion-crafter .categorize .list .issue {
	position: relative;
	float: left;
	height: 18.5%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	background: #f6d494;
	border-radius: .15em;
}
.conclusion-crafter .categorize .list .issue .dropdown {
	display: table;
	position: absolute;
	top: 5%;
	left: 1%;
	width: 33%;
	height: 90%;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li {
	list-style: none;
	height: 28%;
	padding: 1% 0;
	width: 100%;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent {
	width: 96%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	background: #9ad0ed;
	border: .15em solid #0b4361;
}
.conclusion-crafter .categorize .list .issue .dropdown.alert .nav li .parent {
	background: #d55c3b;
	border-color: #81311b;
	color: #f8f0dc;
}
.conclusion-crafter .categorize .list .issue .dropdown.alert .nav:hover li .parent {
	background: #f68e8e;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav:hover li .parent {
	background: #b6e3fb;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent p {
	position: absolute;
	width: 98%;
	height: 100%;
	padding: 1% 0;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent p:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 98%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul {
	position:absolute;
	list-style:none;
	left:-9999px;
	z-index: 1;
	background: orange;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav:hover li ul {
	position: relative;
	left: auto;
	height: auto;
	width: 96%;
	border: .15em solid #0b4361;
	border-top: none;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul .item {
	background: #14638e;
	list-style: none;
	height: auto;
	padding: .25% 0;
	width: 100%;
	color: #f8f0dc;
	text-align: left;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul .item:hover {
	background: #2b8fc5;
}
.conclusion-crafter .categorize .list .issue .text {
	position: absolute;
	top: 5%;
	right: 1%;
	width: 63%;
	height: 90%;
	color: #81311b;
}

/*----- Select -----*/
.conclusion-crafter .select {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .select .list {
	display: inherit;
	height: 100%;
	width: 100%;
}
.conclusion-crafter .select .list .trans {
	position: relative;
	float: left;
	height: 18.5%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	background: #f6d494;
	border-radius: .15em;
}
.conclusion-crafter .select .list .trans .toggle {
	position: relative;
	top: 22%;
	left: 2%;
	width: 6%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.conclusion-crafter .select .list .trans .toggle:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.conclusion-crafter .select .list .trans .toggle:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .select .list .trans .toggle:hover {
	background-color: #b6e3fb;
}
.conclusion-crafter .select .list .trans .toggle.on, .conclusion-crafter .select .list .trans .toggle.on:hover {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
	cursor: default;
}
.no-svg .conclusion-crafter .select .list .trans .toggle.on, .no-svg .conclusion-crafter .select .list .trans .toggle.on:hover {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
	cursor: default;
}
.conclusion-crafter .select .list .trans .toggle.on:after, .conclusion-crafter .select .list .trans .toggle.on:hover:after {
	background-color: #5aa3ca;
}
.conclusion-crafter .select .list .trans .text-wrap {
	display: table;
	position: absolute;
	top: 5%;
	right: 1%;
	width: 84%;
	height: 70%;
	color: #81311b;
	overflow: hidden;
}
.conclusion-crafter .select .list .trans .text-wrap .text {
	display: table-cell;
	vertical-align: top;
}
.conclusion-crafter .select .list .trans .audio-wrapper {
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 50%;
}

/*----- Rubric -----*/
.conclusion-crafter .panel-container .side-panel .question {
	position: relative;
	float: left;
	width: 100%;
	/*height: 20%;*/
	margin-bottom: 2%;
	background: #2b8fc5;
	border-radius: .25em;
	overflow: hidden;
}
.conclusion-crafter .panel-container .side-panel .question:before {
	content:'';
	display: block;
	padding-top: 10%;
}
.conclusion-crafter .panel-container .side-panel .question .text {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 96%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.conclusion-crafter .panel-container .side-panel .option {
	position: relative;
	float: right;
	width: 86%;
	/*height: 23%;*/
	margin-bottom: 2%;
	background: #0b4361;
	color: #2b8fc5;
	border-radius: .25em;
	overflow: visible;
	cursor: pointer;
}
.conclusion-crafter .panel-container .side-panel .option:hover {
	background-color: #165c82;
}
.conclusion-crafter .panel-container .side-panel .option.checked, .conclusion-crafter .panel-container .side-panel .option.checked:hover {
	cursor: default;
	background: #0b4361;
}
.conclusion-crafter .panel-container .side-panel .option:before {
	content:'';
	display: block;
	padding-top: 25%;
}
.conclusion-crafter .panel-container .side-panel .option .text {
	position: absolute;
	top: 0;
	right: 10%;
	float: left;
	width: 84%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.conclusion-crafter .panel-container .side-panel .option .score {
	position: absolute;
	top: 24%;
	right: 0;
	float: left;
	width: 8%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #2b8fc5;
}
.conclusion-crafter .panel-container .side-panel .option .checkmark {
	position: absolute;
	top: 24%;
	left: -16%;
	width: 10%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.conclusion-crafter .panel-container .side-panel .option.checked .checkmark {
	cursor: default;
	background: #14638e url('../images/check.svg') no-repeat center center;
	background-size: 100%;
}
.conclusion-crafter .panel-container .side-panel .option .checkmark:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.conclusion-crafter .panel-container .side-panel .option .checkmark:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.conclusion-crafter .panel-container .side-panel .option.checked .checkmark:after {
	background-color: #2b8fc5;
}
.conclusion-crafter .panel-container .side-panel .option .checkmark:hover {
	background-color: #b6e3fb;
}
.conclusion-crafter .panel-container .side-panel .option.checked .checkmark:hover {
	background-color: #14638e;
}
.no-svg .conclusion-crafter .panel-container .side-panel .option.checked .checkmark {
	background: #14638e url('../images/check.png') no-repeat center center;
}

/*----- MISC -----*/
.conclusion-crafter .panel-container .paragraph-panel .transition-slot {
	display:inline-block;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed{
	display:inline-block;
	border: none;
	padding: .15em;
	background: #d9b167;
	margin: 0 1%;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot span{
	display:inline-block;
	min-width: 6em;
	min-height:1em;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed span{
	display:inline-block;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot .remove-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #d55c3b url('../images/close-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #052130;
	overflow: hidden;
	cursor: pointer;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot .remove-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot .remove-btn:focus {
	outline-width: 0;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot .remove-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .conclusion-crafter .panel-container .paragraph-panel .transition-slot .remove-btn {
	background: #d55c3b url('../images/close-btn-bg.png') center center no-repeat;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot  .remove-btn:hover {
	background-color: #f68e8e;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #9ad0ed url('../images/add-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #0b4361;
	overflow: hidden;
	cursor: pointer;
}
.no-svg .conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	background-image: url('../images/add-btn-bg.png');
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:focus {
	outline-width: 0;
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:hover {
	background-color: #b6e3fb;
}
.student-content{
	color: #df7708;
}
.player-selected {
	color: #2b8fc5;
}
.conclusion-crafter .panel-container .paragraph-panel .cloze-slot {
	display:inline-block;
	min-width: 6em;
	min-height:1em;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
}
.conclusion-crafter .panel-container .paragraph-panel .cloze-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}

/*----- Categorize -----*/
.conclusion-crafter .categorize {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.conclusion-crafter .categorize .list {
	display: inherit;
	height: 100%;
	width: 100%;
}
.conclusion-crafter .categorize .list .issue {
	position: relative;
	float: left;
	height: 18.5%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	background: #f6d494;
	border-radius: .15em;
}
.conclusion-crafter .categorize .list .issue .dropdown {
	display: table;
	position: absolute;
	top: 5%;
	left: 1%;
	width: 33%;
	height: 90%;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li {
	list-style: none;
	height: 28%;
	padding: 1% 0;
	width: 100%;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent {
	width: 96%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	background: #9ad0ed;
	border: .15em solid #0b4361;
}
.conclusion-crafter .categorize .list .issue .dropdown.alert .nav li .parent {
	background: #d55c3b;
	border-color: #81311b;
	color: #f8f0dc;
}
.conclusion-crafter .categorize .list .issue .dropdown.alert .nav:hover li .parent {
	background: #f68e8e;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav:hover li .parent {
	background: #b6e3fb;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent p {
	position: absolute;
	width: 98%;
	height: 100%;
	padding: 1% 0;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li .parent p:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 98%;
	background: #f8f0dc;
	content:'';
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul {
	display: block;
	position:absolute;
	list-style:none;
	left:-9999px;
	z-index: 1;
	background: orange;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav:hover li ul {
	left: 0;
	height: auto;
	width: 96%;
	border: .15em solid #0b4361;
	border-top: none;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul .item {
	background: #14638e;
	list-style: none;
	height: auto;
	padding: .25% 0;
	width: 100%;
	color: #f8f0dc;
	text-align: left;
}
.conclusion-crafter .categorize .list .issue .dropdown .nav li ul .item:hover {
	background: #2b8fc5;
}
.dropdown.disabled {
	cursor: default;
}
.dropdown.disabled ul {
	background: none;
	cursor: default;
}
.dropdown.disabled ul .item:hover {
	cursor: default;
}
.conclusion-crafter .categorize .list .issue .text {
	position: absolute;
	top: 5%;
	right: 1%;
	width: 63%;
	height: 90%;
	color: #81311b;
}
.conclusion-crafter .categorize .list .issue .audio-wrapper {
	position: absolute;
	bottom: 0;
	right: 1%;
	width: 63%;
}