/*----- Buttons -----*/
.footer .wrap .content-footer .continue-btn {
	position: absolute;
    height: 100%;
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	background: #adcc83;
	color: white;
	vertical-align: middle;
}
.footer .wrap .content-footer .continue-btn:hover {
	background: #a9c781;
	color: white;
}

/*----- Content Layout -----*/
.content-container {
	position: absolute;
    width: 65%;
	height: 100%;
	left: 0;
	top: 0;
	background: #0b4361;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.content-container-full {
	position: absolute;
    width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #0b4361;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.content-container .content {
	position: relative;
	width: 94%;
	height: 100%;
	margin: 0 auto;
}
.content-container-full .content {
	display: inherit;
	width: 100%;
	height: 100%;
}
.directions {
	display: table;
    float: left;
	width: 100%;
	height: 16%;
	background: transparent;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.directions .wrap {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
	padding: 2% 0 1% 0;
	background: transparent;
	overflow: hidden;
}
.directions .wrap .content-directions {
	position: relative;
	display: inline-block;
	width: 99.5%;
	padding-bottom: 16%;
	margin-left: auto;
    margin-right: auto;
	background: #14638e;
	background-size: 100%;
	color: #9ad0ed;
	box-shadow: #052130 .25em .25em 0;
	border-radius: .25em;
	overflow: hidden;
}
.directions .wrap .content-directions:before {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 16%;
	margin-left: 5%;
	margin-top: 5%;
	background: #000;
	border-radius: .25em;
}
.directions .wrap .content-directions:after {
	padding-bottom: 0;
	display: block;
	content:''
}
.directions .wrap .content-directions .label-wrap {
	position: absolute;
    height: 30%;
	width: 74%;
	top: 5%;
	left: .75%;
	overflow: hidden;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
	overflow: hidden;
}
.directions .wrap .content-directions .label-wrap .left {
	position: relative;
	float: left;
	width: 2%;
	height: 100%;
	background: url('../images/directions-label-edges.png') no-repeat top left;
}
.directions .wrap .content-directions .label-wrap .right {
	position: relative;
	float: left;
	width: 2%;
	height: 100%;
	background: url('../images/directions-label-edges.png') no-repeat top right;
}
.directions .wrap .content-directions .label-wrap .label {
	position: relative;
	float: left;
	height: 100%;
	padding: .5% 0;
	width: auto;
	background: url('../images/directions-label-mid.png') repeat-x top center;
}
.directions .wrap .content-directions ul {
	list-style-position:inside;
}
.directions .wrap .content-directions .titleText {
	position: absolute;
    height: 55%;
	width: 98%;
	bottom: 5%;
	left: 1%;
	overflow: hidden;
	background: transparent;
	vertical-align: middle;
	text-align: justify;
}
.directions .wrap .content-directions .titleText p, .directions .wrap .content-directions .titleText ul {
	position: relative;
    height: auto;
	width: 98%;
	left: 1%;
	overflow: hidden;
	background: transparent;
	text-align: justify;
}
.directions .wrap .content-directions .audio-wrapper {
	position: absolute;
	width: 24%;
	height: auto;
	padding-bottom: 5%;
	top: 5%;
	right: 1%;
	left: auto;
	bottom: auto;
	overflow: hidden;
	vertical-align: middle;
}
.directions .wrap .content-directions .audio-wrapper .audio {
	position: absolute;
	float: left;
	width: 96%;
	height: 90%;
	top: 5%;
	left: 2%;
	overflow: hidden;
	text-align: center;
}
.directions .wrap .content-directions .audio-wrapper .audio .back-btn, .directions .wrap .content-directions .audio-wrapper .audio .play-pause-btn {
	position: relative;
	float: left;
	width: 19%;
    height: 80%;
    margin-right: 2%;
}
.directions .wrap .content-directions .audio-wrapper .audio .progress {
	position: relative;
	float: right;
	width: 48%;
	height: 100%;
}
.directions .wrap .content-directions p, .directions .wrap .content-directions ul {
	position: absolute;
    height: 55%;
	width: 98%;
	bottom: 5%;
	left: 1%;
	overflow: hidden;
	background: transparent;
	vertical-align: middle;
	text-align: justify;
}
.directions .wrap .content-directions .glossaryWord {
	color: #ff9fb1;
	cursor:pointer;
	text-decoration: underline;
}
.content-panel {
	display: table;
    float: left;
	width: 100%;
	height: 70%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background: transparent;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-panel-full {
	display: table;
    float: left;
	width: 100%;
	height: 84%;
	padding-top: 2%;
	background: transparent;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-panel .wrap, .content-panel-full .wrap {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
	padding: 1% 0;
	background: transparent;
	overflow: hidden;
}
.content-panel .wrap .content-main, .content-panel-full .wrap .content-main {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-left: auto;
    margin-right: auto;
}
.content-panel .wrap .content-main:after, .content-panel-full .wrap .content-main:after {
	padding-bottom: 0;
	display: block;
	content:"";
}

/*----- Graphic Organizers -----*/
.graphic-organizer {
	position: relative;
	float:left;
	height: auto;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.graphic-organizer .image {
	height: 100%;
	width: 100%;
}
.graphic-organizer .image img {
    width: 100%;
    height: auto;
}

/*----- Claims Panel -----*/
.claims-wrap {
	position: relative;
	float:left;
	width: 99.5%;
	margin: 0 0 2% 0;
	border-radius: .25em;
	background: #f6d494;
	color: #81311b;
	box-shadow: #052130 .25em .25em 0;
}
.claims-wrap:before {
	display: block;
	content:'';
	padding-top: 12%;
}
.claims-wrap.double:before {
	display: block;
	content:'';
	padding-top: 24%;
}
.claims-wrap .agree {
	position: absolute;
	top: 6%;
	left: 1%;
	width: 98%;
	height: 88%;
	background: #f48814;
	color: #f8f0dc;
	border-radius: .15em;
}
.claims-wrap .disagree {
	position: absolute;
	top: 6%;
	left: 1%;
	width: 98%;
	height: 88%;
	background: #f8f0dc;
	color: #d87000;
	border-radius: .15em;
}
.claims-wrap.double .agree {
	height: 44%;
	top: 4%;
}
.claims-wrap.double .disagree {
	height: 44%;
	top: 52%;
}
.claims-wrap .claim-title {
	position: absolute;
	top: 2%;
	left: 1%;
	width: 38%;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}
.claims-wrap .claim-text {
	position: absolute;
	top: 28%;
	left: 1%;
	width: 38%;
	overflow: hidden;
}
.claims-wrap .reason-title {
	position: absolute;
	top: 2%;
	left: 40%;
	width: 38%;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}
.claims-wrap .reason-text {
	position: absolute;
	top: 28%;
	left: 40%;
	width: 38%;
	overflow: hidden;
}
.claims-wrap .audio-wrapper {
	position: absolute;
	right: 1%;
	top: 28%;
	padding: 0;
	width: 20%;
	overflow: hidden;
	vertical-align: middle;
}
.claims-wrap .audio-wrapper:before {
	display: block;
	content:'';
	padding-bottom: 25%;
}
.claims-wrap .audio-wrapper .audio {
	position: absolute;
	float: left;
	width: 96%;
	height: 100%;
	top: 5%;
	left: 2%;
	overflow: hidden;
	text-align: center;
}
.claims-wrap .audio-wrapper .audio .back-btn, .claims-wrap .audio-wrapper .audio .play-pause-btn {
	position: relative;
	float: left;
	width: 19%;
    height: 80%;
    margin-right: 2%;
}
.claims-wrap .audio-wrapper .audio .progress {
	position: relative;
	float: right;
	width: 48%;
	height: 91%;
}

/*----- Footer -----*/
.footer {
	display: table;
    float: left;
	width: 100%;
	max-height: 12%;
	background: transparent;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.footer .wrap {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
	padding: 1% 0 2% 0;
	background: transparent;
	overflow: hidden;
}
.footer .wrap .content-footer {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-left: auto;
    margin-right: auto;
}
.footer .wrap .content-footer:after {
	padding-bottom: 0;
	display: block;
	content:''
}
.footer .wrap .content-footer .submit {
	display: inherit;
	height: 100%;
	width: 100%;
}
.footer .wrap .content-footer .submit .submit-btn-back, .footer .wrap .content-footer .submit .submit-btn {
	position: relative;
	padding-bottom: 2.5%;
	padding-top: 2.2%;
	width: 40%;
	top: 15%;
	margin: 0 auto;
	cursor: pointer;
	border: .15em solid #052130;
	background: #9ad0ed;
	color: #052130;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.footer.full .wrap .content-footer .submit .submit-btn-back, .footer.full .wrap .content-footer .submit .submit-btn {
	padding-bottom: 1.2%;
	padding-top: 1.2%;
	width: 25%;
	box-shadow: inset 0 .15em 0 #f8f0dc;
}
.footer .wrap .content-footer .submit .submit-btn-back {
	background: #d55c3b;
	color: #f8f0dc;
}
.no-svg .footer .wrap .content-footer .submit .submit-btn-back:after, .no-svg .footer .wrap .content-footer .submit .submit-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.footer .wrap .content-footer .submit .submit-btn:hover {
	background-color: #b6e3fb;
}
.footer .wrap .content-footer .submit .submit-btn-back:hover {
	background-color: #f68e8e;
}
.footer .wrap .content-footer .submit .submit-btn-back p, .footer .wrap .content-footer .submit .submit-btn p {
	height: 100%;
	vertical-align: middle;
}
.footer .wrap .content-footer .submit .btn_disabled, .footer .wrap .content-footer .submit .btn_disabled:hover, .footer .wrap .content-footer .btn_disabled .submit-btn, .footer .wrap .content-footer .btn_disabled .submit-btn:hover {
	background: #b9c5cb;
	color: #869095;
	cursor: default;
}
/*----- Footer buttons double -----*/
.footer .wrap .content-footer.double .submit {
	display: inherit;
	height: 100%;
	width: 50%;
	float: left;
}
.footer .wrap .content-footer.double .submit .submit-btn-back, .footer .wrap .content-footer.double .submit .submit-btn {
	width: 80%;
	padding-bottom: 3.5%;
	padding-top: 3.5%;
}

/*----- Reward Screen -----*/
.reward {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.reward .module-name {
	position: absolute;
	top: 2%;
	left: 0;
	height: 6%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #f8f0dc;
}
.reward .art {
	position: absolute;
	top: 12%;
	left: 0;
	height: 84%;
	width: 100%;
	background: url("../images/reward-art.svg") no-repeat center center;
	background-size: 100%;
}
.no-svg .reward .art {
	background: url('../images/reward-art.png') no-repeat center center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/reward-art.png',
	sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/reward-art.png',
	sizingMethod='scale')";
}
.reward .complete {
	position: absolute;
	bottom: 2%;
	left: 0;
	height: 6%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #f8f0dc;
}