
/*----- Scaffolding Selection -----*/
.end-of-module-wrap {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.end-of-module-wrap.full {
	position: relative;
	height: 100%;
	width: 64%;
	margin: 0 auto;
}
.end-of-module-wrap .end-of-module {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #f8f0dc;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.end-of-module-wrap .end-of-module .title {
	position: absolute;
	width: 92%;
	height: 6%;
	top: 2%;
	left: 4%;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #052130;
	border-bottom: .1em solid #052130;
}
.end-of-module-wrap .end-of-module .modules-wrap {
	position: absolute;
	width: 35%;
	height: 83%;
	top: 7%;
	left: 0;
	overflow: hidden;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap {
	position: absolute;
	width: 15%;
	height: 88%;
	top: 5%;
	left: 10%;
	border: .25em solid #ad925e;
	border-radius: .35em;
	background: transparent;
	overflow: hidden;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress {
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #f6d494;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.issue {
	height: 15%;
	border-bottom: .15em solid #d55c3b;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.claim {
	height: 32%;
	border-bottom: .15em solid #f48814;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.paracon {
	height: 49%;
	border-bottom: .15em solid #7bc236;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.critic {
	height: 66%;
	border-bottom: .15em solid #7f64e4;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.intro {
	height: 83%;
	border-bottom: .15em solid #44a4d8;
}
.end-of-module-wrap .end-of-module .modules-wrap .progress-wrap .progress.conclusion {
	height: 100%;
	border-bottom: .15em solid #f45ce7;
}
.end-of-module-wrap .end-of-module .modules-wrap .labels-wrap {
	position: absolute;
	width: 70%;
	height: 89%;
	top: 5%;
	left: 30%;
}
.end-of-module-wrap .end-of-module .modules-wrap .label {
	position: absolute;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.issue {
	top: 13%;
	color: #d55c3b;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.claim {
	top: 30%;
	color: #f48814;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.paracon {
	top: 47%;
	color: #7bc236;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.critic {
	top: 64%;
	color: #7f64e4;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.intro {
	top: 81%;
	color: #44a4d8;
}
.end-of-module-wrap .end-of-module .modules-wrap .label.conclusion {
	top: 97%;
	color: #f45ce7;
}
.end-of-module-wrap .end-of-module .essay {
	position: absolute;
	width: 55%;
	height: 76%;
	top: 10.5%;
	right: 5%;
}
.end-of-module-wrap .end-of-module .essay p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.end-of-module-wrap .end-of-module .essay .issue {
	display: table;
	position: absolute;
	top: 1%;
	left: 1%;
	width: 47%;
	height: 13%;
	border: .2em dashed #d55c3b;
	color: #d55c3b;
}
.end-of-module-wrap .end-of-module .essay .issue.complete {
	border: none;
	background: #d55c3b;
	color: #f8f0dc;
	width: 48%;
}
.end-of-module-wrap .end-of-module .essay .claim {
	display: table;
	position: absolute;
	top: 1%;
	right: 1%;
	width: 47%;
	height: 13%;
	border: .2em dashed #f48814;
	color: #f48814;
}
.end-of-module-wrap .end-of-module .essay .claim.complete {
	border: none;
	background: #f48814;
	color: #f8f0dc;
	width: 48%;
}
.end-of-module-wrap .end-of-module .essay .intro {
	display: table;
	position: absolute;
	top: 15%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #44a4d8;
	color: #44a4d8;
}
.end-of-module-wrap .end-of-module .essay .intro.complete {
	border: none;
	background: #44a4d8;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .essay .body1 {
	display: table;
	position: absolute;
	top: 29%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #7bc236;
	color: #7bc236;
}
.end-of-module-wrap .end-of-module .essay .body1.complete {
	border: none;
	background: #7bc236;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .essay .body2 {
	display: table;
	position: absolute;
	top: 43%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #7bc236;
	color: #7bc236;
}
.end-of-module-wrap .end-of-module .essay .body2.complete {
	border: none;
	background: #7bc236;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .essay .body3 {
	display: table;
	position: absolute;
	top: 57%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #7bc236;
	color: #7bc236;
}
.end-of-module-wrap .end-of-module .essay .body3.complete {
	border: none;
	background: #7bc236;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .essay .counter {
	display: table;
	position: absolute;
	top: 71%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #7f64e4;
	color: #7f64e4;
}
.end-of-module-wrap .end-of-module .essay .counter.complete {
	border: none;
	background: #7f64e4;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .essay .conclusion {
	display: table;
	position: absolute;
	top: 85%;
	left: 1%;
	width: 97%;
	height: 13%;
	border: .2em dashed #f45ce7;
	color: #f45ce7;
}
.end-of-module-wrap .end-of-module .essay .conclusion.complete {
	border: none;
	background: #f45ce7;
	color: #f8f0dc;
	width: 98%;
}
.end-of-module-wrap .end-of-module .submit-wrap {
	position: absolute;
	bottom: 2%;
	height: 9%;
	width: 92%;
	left: 4%;
	text-align: center;
	border-top: .1em solid #052130;
	overflow: hidden;
}
.end-of-module-wrap .end-of-module .submit-wrap .submit {
	display: inherit;
	height: 100%;
	width: 100%;
}
.end-of-module-wrap .end-of-module .submit-wrap .submit .submit-btn {
	position: relative;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
	width: 40%;
	top: 15%;
	margin: 0 auto;
	cursor: pointer;
	border: .15em solid #052130;
	background: #9ad0ed;
	color: #052130;
	border-radius: 0;
	box-shadow: inset 0 .15em 0 #f8f0dc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}