.glossary-popup{
	background-color: #9ad0ed;
	border: .35em solid #052130;
	border-radius: .35em;
	width:350px;
	height:200px;
	overflow: hidden;
}
.glossary-popup .glossary-term {
	position: absolute;
	top: 6%;
	left: 4%;
	width: 92%;
	height: 14%;
	color: #052130;
	overflow: hidden;
	border-bottom: .1em solid #14638e;
}
.glossary-popup .glossary-definition {
	position: absolute;
	top: 24%;
	left: 4%;
	width: 92%;
	height: 70%;
	color: #14638e;
	overflow: hidden;
}
.glossary-popup .glossary-definition ul {
	list-style-position: outside;
	margin-left: 6%;
}
.glossary-popup .glossary-definition ul li {
	padding-bottom: 2%;
}