/*---- text-shadow effects ----*/
.step_title p {
	zoom: 1;
	background-color: #974e28;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#974e28)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#a06e52);
}
.icivics_submit_btn p {
	zoom: 1;
	background-color: #4ba6d6;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#4ba6d6)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#98bed4);
}
.icivics_submit_btn_red p {
	zoom: 1;
	background-color: #d64b4b;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#d64b4b)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#d57b6f);
}
.icivics_submit_btn_small p {
	zoom: 1;
	background-color: #4ba6d6;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#4ba6d6)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#98bed4);
}
.btn_disabled p {
	zoom: 1;
	background-color: #7f939d;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#7f939d)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#aebbc2);
}
#CC1_step2 .claim_percentage p {
	zoom: 1;
	background-color: #44ac30;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#44ac30)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#8acc7d);
}
#CC1_step2 .counterclaim_percentage p {
	zoom: 1;
	background-color: #b13d31;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#b13d31)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#af756f);
}

/*---- Dropdown Boxes ----*/
#nav .item,#nav2 .item{
	zoom: 1;
	background-color: #4ba6d6;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#4ba6d6)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#98bed4);
}
.alert #nav .item{
	zoom: 1;
	background-color: #e13923;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#e13923)
	        progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#d8857b);
}