/*----- General Layout -----*/
.introduction-introducer {
	display: inherit;
	position: inherit;
	height: 100%;
	width: 100%;
}
.introduction-introducer .panel-container {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.introduction-introducer .panel-container .side-panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 96%;
	width: 32%;
	padding-right: 3%;
	background: transparent;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.introduction-introducer .panel-container .paragraph-panel {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 61%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.introduction-introducer .panel-container .paragraph-panel.edit {
	background-color: #e8c27a;
	border: .15em solid #bd9853;
	height: 95%;
	width: 60%;
	cursor: text;
	color: #511c0e;
}
.introduction-introducer .panel-container .paragraph-panel.edit:hover {
	background-color: #f6d494;
	border: .15em solid #d2ac66;
}
.introduction-introducer .panel-container .paragraph-panel.edit .student-content {
	color: #ce6b00;
}
.introduction-introducer .panel-container .paragraph-panel-full {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 96%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.introduction-introducer .panel-container .paragraph-panel .paragraph {
	position: relative;
	width: 93%;
	/*height: 96%;*/
	padding: 2%;
	color: #81311b;
	overflow: hidden;
}

/*----- Categorize -----*/
.introduction-introducer .categorize {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.introduction-introducer .categorize .list {
	display: inherit;
	height: 100%;
	width: 100%;
}
.introduction-introducer .categorize .list .issue {
	position: relative;
	float: left;
	height: 18.5%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	background: #f6d494;
	border-radius: .15em;
}
.introduction-introducer .categorize .list .issue .dropdown {
	display: table;
	position: absolute;
	top: 5%;
	left: 1%;
	width: 33%;
	height: 90%;
}
.introduction-introducer .categorize .list .issue .dropdown .nav {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li {
	list-style: none;
	height: 28%;
	padding: 1% 0;
	width: 100%;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li .parent {
	width: 96%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	background: #9ad0ed;
	border: .15em solid #0b4361;
}
.introduction-introducer .categorize .list .issue .dropdown.alert .nav li .parent {
	background: #d55c3b;
	border-color: #81311b;
	color: #f8f0dc;
}
.introduction-introducer .categorize .list .issue .dropdown.alert .nav:hover li .parent {
	background: #f68e8e;
}
.introduction-introducer .categorize .list .issue .dropdown .nav:hover li .parent {
	background: #b6e3fb;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li .parent p {
	position: absolute;
	width: 98%;
	height: 100%;
	padding: 1% 0;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li .parent p:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .1em;
	width: 98%;
	background: #f8f0dc;
	content:'';
}
.introduction-introducer .categorize .list .issue .dropdown .nav li ul {
	display: block;
	position:absolute;
	list-style:none;
	left:-9999px;
	z-index: 1;
	background: orange;
}
.introduction-introducer .categorize .list .issue .dropdown .nav:hover li ul {
	left: 0;
	height: auto;
	width: 96%;
	border: .15em solid #0b4361;
	border-top: none;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li ul .item {
	background: #14638e;
	list-style: none;
	height: auto;
	padding: .25% 0;
	width: 100%;
	color: #f8f0dc;
	text-align: left;
}
.introduction-introducer .categorize .list .issue .dropdown .nav li ul .item:hover {
	background: #2b8fc5;
}
.dropdown.disabled {
	cursor: default;
}
.dropdown.disabled ul {
	background: none;
	cursor: default;
}
.dropdown.disabled ul .item:hover {
	cursor: default;
}
.introduction-introducer .categorize .list .issue .text {
	position: absolute;
	top: 5%;
	right: 1%;
	width: 63%;
	height: 90%;
	color: #81311b;
}
.introduction-introducer .categorize .list .issue .audio-wrapper {
	position: absolute;
	bottom: 0;
	right: 1%;
	width: 63%;
}

/*----- Select -----*/
.introduction-introducer .select {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.introduction-introducer .select .list {
	display: inherit;
	height: 100%;
	width: 100%;
}
.introduction-introducer .select .list .trans {
	position: relative;
	float: left;
	height: 18.5%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	background: #f6d494;
	border-radius: .15em;
}
.introduction-introducer .select .list .trans .toggle {
	position: absolute;
	top: 22%;
	left: 2%;
	width: 6%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.introduction-introducer .select .list .trans .toggle:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.introduction-introducer .select .list .trans .toggle:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.introduction-introducer .select .list .trans .toggle:hover {
	background-color: #b6e3fb;
}
.introduction-introducer .select .list .trans .toggle.on, .introduction-introducer .select .list .trans .toggle.on:hover {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
	cursor: default;
}
.no-svg .introduction-introducer .select .list .trans .toggle.on, .no-svg .introduction-introducer .select .list .trans .toggle.on:hover {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
	cursor: default;
}
.introduction-introducer .select .list .trans .toggle.on:after, .introduction-introducer .select .list .trans .toggle.on:hover:after {
	background-color: #5aa3ca;
}
.introduction-introducer .select .list .trans .label {
	position: absolute;
	top: 3%;
	width: 42%;
	color: #81311b;
	text-transform: uppercase;
	font-weight: 700;
}
.introduction-introducer .select .list .trans .label.left {
	right: 45%;
}
.introduction-introducer .select .list .trans .label.right {
	right: 1%;
}
.introduction-introducer .select .list .trans .text {
	position: absolute;
	top: 18%;
	width: 42%;
	color: #81311b;
}
.introduction-introducer .select .list .trans .text.left {
	right: 45%;
}
.introduction-introducer .select .list .trans .text.right {
	right: 1%;
}
.introduction-introducer .select .list .trans .audio-wrapper {
	position: absolute;
	bottom: 0;
	right: 1%;
	width: 42%;
}

/*----- Add Transitions -----*/
.introduction-introducer .panel-container .side-panel .transitions {
	position: relative;
	float: left;
	width: 96%;
	height: 100%;
	padding: 2%;
	background: #2b8fc5;
	border-radius: .2em;
	color: #9ad0ed;
	overflow: hidden;
}
.introduction-introducer .panel-container .side-panel .transitions div {
	margin: 2% 0 4% 2%;
}
.introduction-introducer .panel-container .side-panel .transitions div div {
	text-transform: uppercase;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	margin-bottom: 1%;
}
.introduction-introducer .panel-container .side-panel .transitions div div.glossaryWord {
	background: #22729E;
	border-radius: .25em;
	cursor: pointer;
}
.introduction-introducer .panel-container .side-panel .transitions div div.glossaryWord:hover {
	background: #1B5B7E;
}
.introduction-introducer .panel-container .side-panel .transitions div p {
	margin-left: 6%;
	margin-bottom: 1%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #052130;
	width: 84%;
	height: auto;
}
.introduction-introducer .panel-container .side-panel .transitions div p.glossaryWord {
	background: #9ad0ed;
	border-radius: .25em;
	cursor: pointer;
}
.introduction-introducer .panel-container .side-panel .transitions div p.glossaryWord:hover {
	background: #f8f0dc;
}

/*----- Rubric -----*/
.introduction-introducer .panel-container .side-panel .question {
	position: relative;
	float: left;
	width: 100%;
	/*height: 20%;*/
	margin-bottom: 2%;
	background: #2b8fc5;
	border-radius: .25em;
	overflow: hidden;
}
.introduction-introducer .panel-container .side-panel .question:before {
	content:'';
	display: block;
	padding-top: 10%;
}
.introduction-introducer .panel-container .side-panel .question .text {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 96%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.introduction-introducer .panel-container .side-panel .option {
	position: relative;
	float: right;
	width: 86%;
	/*height: 23%;*/
	margin-bottom: 2%;
	background: #0b4361;
	color: #2b8fc5;
	border-radius: .25em;
	overflow: visible;
	cursor: pointer;
}
.introduction-introducer .panel-container .side-panel .option:hover {
	background-color: #165c82;
}
.introduction-introducer .panel-container .side-panel .option.checked, .introduction-introducer .panel-container .side-panel .option.checked:hover {
	cursor: default;
	background: #0b4361;
}
.introduction-introducer .panel-container .side-panel .option:before {
	content:'';
	display: block;
	padding-top: 25%;
}
.introduction-introducer .panel-container .side-panel .option .text {
	position: absolute;
	top: 0;
	right: 10%;
	float: left;
	width: 84%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.introduction-introducer .panel-container .side-panel .option .score {
	position: absolute;
	top: 24%;
	right: 0;
	float: left;
	width: 8%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #2b8fc5;
}
.introduction-introducer .panel-container .side-panel .option .checkmark {
	position: absolute;
	top: 24%;
	left: -16%;
	width: 10%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.introduction-introducer .panel-container .side-panel .option.checked .checkmark {
	cursor: default;
	background: #14638e url('../images/check.svg') no-repeat center center;
	background-size: 100%;
}
.introduction-introducer .panel-container .side-panel .option .checkmark:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.introduction-introducer .panel-container .side-panel .option .checkmark:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.introduction-introducer .panel-container .side-panel .option.checked .checkmark:after {
	background-color: #2b8fc5;
}
.introduction-introducer .panel-container .side-panel .option .checkmark:hover {
	background-color: #b6e3fb;
}
.introduction-introducer .panel-container .side-panel .option.checked .checkmark:hover {
	background-color: #14638e;
}
.no-svg .introduction-introducer .panel-container .side-panel .option.checked .checkmark {
	background: #14638e url('../images/check.png') no-repeat center center;
}

/*----- MISC -----*/
.introduction-introducer .panel-container .paragraph-panel .transition-slot {
	display:inline-block;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed{
	display:inline-block;
	border: none;
	padding: .15em;
	background: #d9b167;
	margin: 0 1%;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot span{
	display:inline-block;
	min-width: 6em;
	min-height:1em;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed span{
	display:inline-block;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot .remove-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #d55c3b url('../images/close-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #052130;
	overflow: hidden;
	cursor: pointer;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot .remove-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot .remove-btn:focus {
	outline-width: 0;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot .remove-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .introduction-introducer .panel-container .paragraph-panel .transition-slot .remove-btn {
	background: #d55c3b url('../images/close-btn-bg.png') center center no-repeat;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot  .remove-btn:hover {
	background-color: #f68e8e;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #9ad0ed url('../images/add-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #0b4361;
	overflow: hidden;
	cursor: pointer;
}
.no-svg .introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	background-image: url('../images/add-btn-bg.png');
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:focus {
	outline-width: 0;
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.introduction-introducer .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:hover {
	background-color: #b6e3fb;
}
.student-content{
	color: #df7708;
}
.player-selected {
	color: #2b8fc5;
}
.introduction-introducer .panel-container .paragraph-panel .cloze-slot {
	display:inline-block;
	min-width: 6em;
	min-height:1em;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
}
.introduction-introducer .panel-container .paragraph-panel .cloze-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}