/*----- General Layout -----*/
.issue-analyzer {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.issue-analyzer.full {
	position: relative;
	height: 100%;
	width: 64%;
	margin: 0 auto;
}

/*----- Story Panel (newspaper) -----*/
.issue-analyzer .story-panel-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #f8f0dc;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.issue-analyzer .story-panel-wrap .article_title {
	text-align: left;
	position: absolute;
	top: 4%;
	left: 2%;
	width: 96%;
	padding: 1% 0;
	height: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: #052130;
	border-top: solid .05em #052130;
	border-bottom: solid .05em #052130;
}
.issue-analyzer .story-panel-wrap .article_author {
	text-align: justify;
	position: absolute;
	top: 14%;
	left: 2%;
	width: 94%;
	padding: .5% 1%;
	background: #052130;
	color: #f8f0dc;
	text-transform: uppercase;
	font-style: italic;
}
.issue-analyzer .story-panel-wrap .article_text {
	text-align: justify;
	position: absolute;
	top: 22%;
	left: 2%;
	width: 96%;
	height: 68%;
	color: #052130;
	border-bottom: solid .1em #052130;
	overflow: auto;
}
.issue-analyzer .story-panel-wrap .article_text p {
	text-indent: 5%;
}
.issue-analyzer .story-panel-wrap .article_text img {
	margin-top: .75%;
	margin-left: 2%;
	margin-bottom: 1%;
	border: solid .15em #052130;
}
.issue-analyzer .story-panel-wrap .audio-wrapper {
	text-align: left;
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 96%;
	height: 6%;
	overflow: hidden;
}
.issue-analyzer .story-panel-wrap .audio-wrapper .audio {
	height: 100%;
	width: 100%;
}
.issue-analyzer .story-panel-wrap .audio-wrapper .audio .back-btn, .issue-analyzer .story-panel-wrap .audio-wrapper .audio .play-pause-btn {
	height: 90%;
}
.issue-analyzer .story-panel-wrap .audio-wrapper .audio .progress {
	height: 100%;
	float: right;
}

/*----- Story Chunks -----*/
.issue-analyzer .story-chunks-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
}
.issue-analyzer .story-chunks-wrap .progress-wrap {
	text-align: left;
	position: absolute;
	bottom: 8%;
	left: 8%;
	width: 84%;
	height: 8%;
	color: #052130;
	border-radius: .15em;
	overflow: hidden;
}
.issue-analyzer .story-chunks-wrap .panel-title {
	position: absolute;
	top: 6%;
	left: 8%;
	width: 25%;
	height: 60%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.issue-analyzer .story-chunks-wrap .progress-wrap .progress {
	text-align: left;
	position: relative;
	top: 25%;
	margin: 0 auto;
	width: 99%;
	height: 60%;
	background: #2c8fc5 url('../images/progress-bg.png') no-repeat;
	background-size: 100%;
	background-position: 0 0;
	border-radius: .25em;
	border: .15em solid #2c8fc5;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #9ad0ed;
}
.issue-analyzer .story-chunks-wrap .text-wrap {
	text-align: left;
	position: absolute;
	top: 12%;
	left: 8%;
	width: 84%;
	height: 72%;
	background: #f6d494;
	color: #052130;
	border-radius: .15em;
	overflow: hidden;
}
.issue-analyzer .story-chunks-wrap .text-wrap .text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.issue-analyzer .story-chunks-wrap .text-wrap .text div {
	display: none;
}
.issue-analyzer .story-chunks-wrap .text-wrap .text div.active {
	display: inherit;
	height: 100%;
	width: 100%;
}
.issue-analyzer .story-chunks-wrap .text-wrap p {
	text-indent: 0;
	margin: 4%;
	padding: 1% 0;
	height: 74%;
	border-top: solid .1em #052130;
	border-bottom: solid .1em #052130;
	overflow: auto;
	color: #052130;
}
.issue-analyzer .story-chunks-wrap .text-wrap p span {
	background: #f8f0dc;
	padding: .25% 1%;
}
.issue-analyzer .story-chunks-wrap .text-wrap p span.highlight-white {
	background: #f8f0dc;
	padding: .25% 1%;
	color: #2b8fc5;
}
.issue-analyzer .story-chunks-wrap .text-wrap p span.highlight-red {
	background: #d55c3b;
	padding: .25% 1%;
	color: #f8f0dc;
}
.issue-analyzer .story-chunks-wrap .text-wrap .audio-wrapper {
	text-align: left;
	position: absolute;
	bottom: 4%;
	left: 4%;
	width: 92%;
	height: 8%;
	overflow: hidden;
}
.issue-analyzer .story-chunks-wrap .text-wrap .audio-wrapper .audio {
	height: 100%;
	width: 100%;
}
.issue-analyzer .story-chunks-wrap .text-wrap .audio-wrapper .audio .back-btn, .issue-analyzer .story-chunks-wrap .text-wrap .audio-wrapper .audio .play-pause-btn {
	height: 88%;
}
.issue-analyzer .story-chunks-wrap .text-wrap .audio-wrapper .audio .progress {
	height: 100%;
	float: right;
}

/*----- ALL Story Chunks -----*/
.issue-analyzer .all-chunks-wrap {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.issue-analyzer .all-chunks-wrap .panel-title {
	position: relative;
	float:left;
	height: 4.5%;
	width: 98%;
	margin: .5% 1% 0 1%;
	color: #f6d494;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}
.issue-analyzer .all-chunks-wrap .text-wrap {
	position: relative;
	float:left;
	height: 93%;
	width: 98%;
	margin: .45% 1%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 0;
	margin-right: 2%;
	padding-top: 1%;
	padding-left: 0;
	padding-bottom: 1%;
	padding-right: 3%;
	height: 84%;
	width: 93%;
	border-bottom: solid .1em #052130;
	overflow: hidden;
	color: #052130;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text .chunk {
	display: inline-block;
	position: relative;
	float: left;
	height: auto;
	width: 100%;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text .chunk p {
	display: inline-block;
	position: relative;
	float: left;
	height: auto;
	width: 100%;
	padding: 0 0 1% 0;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text .chunk p span {
	background: #f8f0dc;
	padding: .25% 0;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text .chunk p span.highlight-white {
	background: #f8f0dc;
	padding: .25% 0;
	color: #2b8fc5;
}
.issue-analyzer .all-chunks-wrap .text-wrap .text .chunk p span.highlight-red {
	background: #d55c3b;
	padding: .25% 0;
	color: #f8f0dc;
}
.issue-analyzer .all-chunks-wrap .text-wrap .audio-wrapper {
	text-align: left;
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 96%;
	height: 6%;
	overflow: hidden;
}
.issue-analyzer .all-chunks-wrap .text-wrap .audio-wrapper .audio {
	height: 100%;
	width: 100%;
}
.issue-analyzer .all-chunks-wrap .text-wrap .audio-wrapper .audio .back-btn, .issue-analyzer .all-chunks-wrap .text-wrap .audio-wrapper .audio .play-pause-btn {
	height: 82%;
	width: 6%;
}
.issue-analyzer .all-chunks-wrap .text-wrap .audio-wrapper .audio .progress {
	height: 100%;
	width: 80%;
	float: right;
}

/*----- Vote Panel -----*/
.issue-analyzer .vote-panel {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.issue-analyzer .vote-panel .option {
	position: absolute;
	height: 50%;
	width: 32%;
	top: 2%;
	background: #0b4361;
	color: #9ad0ed;
	overflow: hidden;
	text-align: center;
}
.issue-analyzer .vote-panel .option:hover {
	background: #15577b;
}
.issue-analyzer .vote-panel .option.selected:hover {
	background: #0b4361;
}
.issue-analyzer .vote-panel .option img {
	width: 80%;
	height: auto;
	margin-top: 8%;
}
.issue-analyzer .vote-panel .option p {
	height: auto;
	margin-top: 6%;
}
.issue-analyzer .vote-panel .option .check {
	position: absolute;
	bottom: 2%;
	left: 43%;
	width: 14%;
	margin: 0 auto;
	overflow: hidden;
	border: .25em solid #052130;
	background-color: #9ad0ed;
	cursor: pointer;
}
.issue-analyzer .vote-panel .option.selected {
	cursor: default;
}
.issue-analyzer .vote-panel .option .check:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.issue-analyzer .vote-panel .option .check:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.issue-analyzer .vote-panel .option:hover .check {
	background-color: #b6e3fb;
}
.issue-analyzer .vote-panel .option.selected .check, .issue-analyzer .vote-panel .option.selected:hover .check {
	background: #77b8db url('../images/check-dark.svg') no-repeat center center;
}
.no-svg .issue-analyzer .vote-panel .option.selected .check, .no-svg .issue-analyzer .vote-panel .option.selected:hover .check {
	background: #77b8db url('../images/check-dark.png') no-repeat center center;
}
.issue-analyzer .vote-panel .option.selected .check:after, .issue-analyzer .vote-panel .option.selected:hover .check:after {
	background-color: #5aa3ca;
}
.issue-analyzer .vote-panel .option1 {
	left: 2%;
}
.issue-analyzer .vote-panel .option2 {
	right: 2%;
}
.issue-analyzer .vote-panel .or {
	display: table;
	position: absolute;
	height: 20%;
	width: 28%;
	left: 36%;
	top: 26%;
	background: #2b8fc5;
	border-radius: .15em;
	overflow: hidden;
	text-align: center;
	color: #f8f0dc;
}
.issue-analyzer .vote-panel .or .instructions {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.issue-analyzer .vote-panel .audio-wrapper {
	position: absolute;
	height: 5%;
	width: 28%;
	left: 36%;
	top: 48%;
	overflow: hidden;
}
.issue-analyzer .vote-panel .audio-wrapper .audio {
	width: 100%;
	height: 100%;
}
.issue-analyzer .vote-panel .audio-wrapper .audio .back-btn, .issue-analyzer .vote-panel .audio-wrapper .audio .play-pause-btn {
	height: 80%;
	width: 12%;
}
.issue-analyzer .vote-panel .audio-wrapper .audio .progress {
	float: right;
	width: 62%;
	height: 100%;
}
.issue-analyzer .vote-panel #explanation {
	position: absolute;
	height: 42%;
	width: 96%;
	bottom: 3%;
	left: 2%;
	background: #f6d494;
	text-align: left;
	border-radius: .15em;
	overflow: hidden;
	font-weight: normal;
}
.issue-analyzer .vote-panel #explanation.disabled {
	background-color: #1f78a9;
}
.issue-analyzer .vote-panel #explanation .text-wrap {
	position: absolute;
	top: 4%;
	left: 2%;
	height: 92%;
	width: 96%;
	color: #81311b;
}
.issue-analyzer .vote-panel #explanation.disabled .text-wrap {
	color: #052130;
}
.issue-analyzer .vote-panel .user-written {
	display: inline-block;
	position: relative;
	min-width: 2%;
	height: auto;
	width: auto;
	text-indent: initial;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
}
.issue-analyzer .vote-panel .user-written:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}
.issue-analyzer .vote-panel .disabled .user-written {
	background: transparent;
	border: none;
	color: #052130;
	cursor: default;
}
.issue-analyzer .vote-panel #explanation.disabled .user-written:before {
	display: inline-block;
	position: relative;
	content: ". . .";
	height: auto;
	width: auto;
}
/*.issue-analyzer .vote-panel #explanation textarea {
	position: absolute;
	height: 100%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background: transparent;
	color: #81311b;
	border: none;
	resize: none;
	border-radius: .15em;
	overflow: hidden;
}
.issue-analyzer .vote-panel #explanation textarea:focus {
	outline-width: 0;
}*/