/*----- General Layout -----*/
.paragraph-constructor {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.paragraph-constructor .panel-container {
	position: relative;
	float:left;
	height: 100%;
	width: 99.5%;
	background: #14638e;
	border-radius: .25em;
	box-shadow: #052130 .25em .25em 0;
	overflow: hidden;
}
.paragraph-constructor .panel-container .side-panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 96%;
	width: 32%;
	padding-right: 3%;
	background: transparent;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.paragraph-constructor .panel-container .paragraph-panel {
	position: absolute;
	top: 2%;
	height: 88%;
	width: 61%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
	-moz-user-select: -moz-text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}
.paragraph-constructor .panel-container .paragraph-panel.edit {
	background-color: #e8c27a;
	border: .15em solid #bd9853;
	height: 95%;
	width: 60%;
	cursor: text;
	color: #511c0e;
}
.paragraph-constructor .panel-container .paragraph-panel.edit:hover {
	background-color: #f6d494;
	border: .15em solid #d2ac66;
}
.paragraph-constructor .panel-container .paragraph-panel.edit .student-content {
	color: #ce6b00;
	cursor: text;
}
.paragraph-constructor .panel-container .paragraph-panel-full {
	position: absolute;
	top: 2%;
	height: 96%;
	width: 96%;
	right: 2%;
	background: #f6d494;
	border-radius: .15em;
	overflow: hidden;
}
.paragraph-constructor .panel-container .paragraph-panel-full .paragraph {
	cursor: text;
	height: 100%;
	width: 100%;
}
.paragraph-constructor .panel-container .paragraph-panel-full .paragraph .distinguishable-text {
	cursor: text;
	height: 100%;
	width: 100%;
}
.paragraph-constructor .panel-container .paragraph-panel .paragraph {
	display: block;
	position: relative;
	width: 93%;
	/*height: 96%;*/
	padding: 2%;
	color: #81311b;
	overflow: hidden;
}
.paragraph-constructor .panel-container .paragraph-panel .paragraph .transition-slot, .paragraph-constructor .panel-container .paragraph-panel .paragraph .student-content {
	z-index: 1;
	cursor: text;
}
.paragraph-constructor .panel-container .paragraph-panel .paragraph .transition-slot span, .paragraph-constructor .panel-container .paragraph-panel .paragraph .student-content span {
	z-index: 1;
	cursor: text;
}
.paragraph-constructor .panel-container .audio-wrapper {
	position: absolute;
	bottom: 2%;
	width: 61%;
	right: 2%;
}

/*----- Sentence Ordering -----*/
.paragraph-constructor .panel-container .side-panel .hidden {
	display: none;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable {
	position: relative;
	float: left;
	width: 96%;
	height: 16%;
	padding: 2%;
	margin-bottom: 2%;
	background: #2b8fc5;
	border-radius: .25em;
	color: #9ad0ed;
	overflow: hidden;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .text {
	position: relative;
	float: left;
	width: 88%;
	height: 100%;
	overflow: hidden;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap {
	position: relative;
	float: left;
	width: 12%;
	height: 100%;
	overflow: visible;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .up-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	overflow: hidden;
	border: .25em solid #0b4361;
	background: #9ad0ed url('../images/up-btn.svg') no-repeat center center;
	background-size: 100%;
	cursor: pointer;
}
.no-svg .paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .up-btn {
	background: #9ad0ed url('../images/up-btn.png') no-repeat center center;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .up-btn:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .up-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .up-btn:hover {
	background-color: #b6e3fb;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .down-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	overflow: hidden;
	border: .25em solid #0b4361;
	background: #9ad0ed url('../images/down-btn.svg') no-repeat center center;
	background-size: 100%;
	cursor: pointer;
}
.no-svg .paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .down-btn {
	background: #9ad0ed url('../images/down-btn.png') no-repeat center center;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .down-btn:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .down-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .down-btn:hover {
	background-color: #b6e3fb;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .disabled, .paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .disabled:hover {
	background-color: #14638e;
	cursor: default;
}
.paragraph-constructor .panel-container .side-panel .sentence-moveable .btn-wrap .disabled:after {
	background-color: #2b8fc5;
}

/*----- Add Evidence -----*/
.paragraph-constructor .panel-container .side-panel .notes-title {
	position: relative;
	float: left;
	width: 100%;
}
.paragraph-constructor .panel-container .side-panel .notes-title:after {
	content:'';
	display: block;
	padding-bottom: 12%;
}
.paragraph-constructor .panel-container .side-panel .notes-title p {
	position: relative;
	float: left;
	text-align: left;
	width: 100%;
	text-transform: uppercase;
	color: #f6d494;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.paragraph-constructor .panel-container .side-panel .group-wrap {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}
.paragraph-constructor .panel-container .side-panel .evidence {
	position: relative;
	float: left;
	width: 100%;
	/*height: 33%;*/
	margin-bottom: 2%;
	background: #2b8fc5;
	border-radius: .25em;
	/*overflow: hidden;*/
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .evidence.disabled, .paragraph-constructor .panel-container .side-panel .evidence.disabled:hover {
	cursor: default;
	background-color: #2b8fc5;
}
.paragraph-constructor .panel-container .side-panel .evidence:before {
	content:'';
	display: block;
	padding-top: 43%;
}
.paragraph-constructor .panel-container .side-panel .evidence:hover {
	background-color: #47aadf;
}
.paragraph-constructor .panel-container .side-panel .evidence .evidence-icon {
	display: none;
}
.paragraph-constructor .panel-container .side-panel .evidence .text {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 96%;
	min-height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence {
	position: relative;
	float: left;
	width: 100%;
	/*height: 33%;*/
	margin-bottom: 16%;
	/*overflow: hidden;*/
}
.paragraph-constructor .panel-container .side-panel .linked-sentence:before {
	content:'';
	display: block;
	padding-top: 43%;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .text {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 84%;
	min-height: 84%;
	padding: 2%;
	overflow: visible;
	background: #0b4361;
	border-radius: .25em;
	color: #2b8fc5;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn {
	position: absolute;
	top: 0;
	left: -12%;
	width: 9%;
	background: #d55c3b url('../images/close-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #052130;
	overflow: hidden;
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn:before {
	content:'';
	display:block;
	padding-top: 100%;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn:focus {
	outline-width: 0;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .15em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.no-svg .paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn {
	background: #d55c3b url('../images/close-btn-bg.png') center center no-repeat;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .remove-btn:hover {
	background-color: #f68e8e;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .feedback {
	position: absolute;
	bottom: 5%;
	right: 2%;
	width: 96%;
	overflow: hidden;
	color: #f8f0dc;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .feedback.incorrect {
	background: #d55c3b;
}
.paragraph-constructor .panel-container .side-panel .linked-sentence .feedback.correct {
	background: #719745;
}

/*----- Add Transitions -----*/
.paragraph-constructor .panel-container .side-panel .transitions {
	position: relative;
	float: left;
	width: 96%;
	height: 100%;
	padding: 2%;
	background: #2b8fc5;
	border-radius: .2em;
	color: #9ad0ed;
	overflow: hidden;
}
.paragraph-constructor .panel-container .side-panel .transitions div {
	margin: 2% 0 4% 2%;
}
.paragraph-constructor .panel-container .side-panel .transitions div div {
	text-transform: uppercase;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	margin-bottom: 1%;
}
.paragraph-constructor .panel-container .side-panel .transitions div div.glossaryWord {
	background: #22729E;
	border-radius: .25em;
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .transitions div div.glossaryWord:hover {
	background: #1B5B7E;
}
.paragraph-constructor .panel-container .side-panel .transitions div p {
	margin-left: 6%;
	margin-bottom: 1%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #052130;
	width: 84%;
	height: auto;
}
.paragraph-constructor .panel-container .side-panel .transitions div p.glossaryWord {
	background: #9ad0ed;
	border-radius: .25em;
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .transitions div p.glossaryWord:hover {
	background: #f8f0dc;
}

/*----- Rubric -----*/
.paragraph-constructor .panel-container .side-panel .question {
	position: relative;
	float: left;
	width: 100%;
	/*height: 20%;*/
	margin-bottom: 2%;
	background: #2b8fc5;
	border-radius: .25em;
	overflow: hidden;
}
.paragraph-constructor .panel-container .side-panel .question:before {
	content:'';
	display: block;
	padding-top: 10%;
}
.paragraph-constructor .panel-container .side-panel .question .text {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 96%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.paragraph-constructor .panel-container .side-panel .option {
	position: relative;
	float: right;
	width: 86%;
	/*height: 23%;*/
	margin-bottom: 2%;
	background: #0b4361;
	color: #2b8fc5;
	border-radius: .25em;
	overflow: visible;
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .option:hover {
	background-color: #165c82;
}
.paragraph-constructor .panel-container .side-panel .option.checked, .paragraph-constructor .panel-container .side-panel .option.checked:hover {
	cursor: default;
	background: #0b4361;
}
.paragraph-constructor .panel-container .side-panel .option:before {
	content:'';
	display: block;
	padding-top: 25%;
}
.paragraph-constructor .panel-container .side-panel .option .text {
	position: absolute;
	top: 0;
	right: 10%;
	float: left;
	width: 84%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #9ad0ed;
}
.paragraph-constructor .panel-container .side-panel .option .score {
	position: absolute;
	top: 24%;
	right: 0;
	float: left;
	width: 8%;
	height: 84%;
	padding: 2%;
	overflow: hidden;
	color: #2b8fc5;
}
.paragraph-constructor .panel-container .side-panel .option .checkmark {
	position: absolute;
	top: 24%;
	left: -16%;
	width: 10%;
	overflow: hidden;
	border: .25em solid #052130;
	background: #9ad0ed;
	cursor: pointer;
}
.paragraph-constructor .panel-container .side-panel .option.checked .checkmark {
	cursor: default;
	background: #14638e url('../images/check.svg') no-repeat center center;
	background-size: 100%;
}
.paragraph-constructor .panel-container .side-panel .option .checkmark:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.paragraph-constructor .panel-container .side-panel .option .checkmark:after {
	position: absolute;
	top: 0;
	left: 0;
	height: .2em;
	width: 100%;
	background-color: #f8f0dc;
	content:'';
}
.paragraph-constructor .panel-container .side-panel .option.checked .checkmark:after {
	background-color: #2b8fc5;
}
.paragraph-constructor .panel-container .side-panel .option .checkmark:hover {
	background-color: #b6e3fb;
}
.paragraph-constructor .panel-container .side-panel .option.checked .checkmark:hover {
	background-color: #14638e;
}
.no-svg .paragraph-constructor .panel-container .side-panel .option.checked .checkmark {
	background: #14638e url('../images/check.png') no-repeat center center;
}

/*----- MISC -----*/
.paragraph-constructor .panel-container .paragraph-panel .transition-slot {
	display:inline-block;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	margin: 0 1%;
	z-index: 1;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed{
	display:inline-block;
	border: none;
	padding: .15em;
	background: #d9b167;
	margin: 0 1%;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot span{
	display:inline-block;
	min-width: 6em;
	min-height:1em;
	cursor: text;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed span{
	display:inline-block;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot .remove-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #d55c3b url('../images/close-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #052130;
	overflow: hidden;
	cursor: pointer;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot .remove-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot .remove-btn:focus {
	outline-width: 0;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot .remove-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.no-svg .paragraph-constructor .panel-container .paragraph-panel .transition-slot .remove-btn {
	background: #d55c3b url('../images/close-btn-bg.png') center center no-repeat;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot  .remove-btn:hover {
	background-color: #f68e8e;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	float:right;
	width: 1em;
	padding-bottom: .9em;
	background: #9ad0ed url('../images/add-btn-bg.svg') center center no-repeat;
	background-size: 75%;
	border: .2em solid #0b4361;
	overflow: hidden;
	cursor: pointer;
}
.no-svg .paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn {
	background-image: url('../images/add-btn-bg.png');
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:before {
	content:'';
	display:block;
	padding-top: 0;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:focus {
	outline-width: 0;
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:after {
	float: right;
	height: .15em;
	width: 100%;
	background: #f8f0dc;
	content:'';
}
.paragraph-constructor .panel-container .paragraph-panel .transition-slot-collapsed .add-btn:hover {
	background-color: #b6e3fb;
}
.student-content{
	color: #df7708;
}
.player-selected {
	color: #2b8fc5;
}
.paragraph-constructor .panel-container .paragraph-panel .cloze-slot {
	display:inline-block;
	min-width: 6em;
	min-height:1em;
	background-color: #d9b167;
	border: .2em solid #bd9853;
	cursor: text;
	color: #81311b;
	z-index: 1;
}
.paragraph-constructor .panel-container .paragraph-panel .cloze-slot.student-content, .paragraph-constructor .panel-container .paragraph-panel .transition-slot.student-content {
	cursor: text;
}
.paragraph-constructor .panel-container .paragraph-panel .cloze-slot:hover {
	background-color: #e8c27a;
	border-color: #d2ac66;
}